Repository qbicsoftware/data-manager-app, pull requests merged in 2022-10, with the labels that each got.

#107 Provide search field to find projects of interest
  mariadb-connector/src/main/java/life/qbic/projectmanagement/persistence/ProjectJpaRepository.java
  mariadb-connector/src/main/java/life/qbic/projectmanagement/persistence/ProjectPreviewRepository.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/repository/ProjectRepository.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/project/overview/ProjectOverviewHandler.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/project/overview/ProjectOverviewHandlerInterface.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/project/overview/ProjectOverviewLayout.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/project/overview/components/CreationModeDialog.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/project/overview/components/OfferSearchDialog.java
Labels: feature

#105 Update design of Create Project UI
  vaadinfrontend/frontend/styles/components/card-layout.css
  vaadinfrontend/frontend/styles/components/create-project.css
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/components/CardLayout.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/project/create/CreateProjectLayout.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projectOverview/components/CreationModeDialog.java
Labels: feature

#112 Format modification time according to user timezone
  vaadinfrontend/src/main/java/life/qbic/datamanager/ClientDetailsProvider.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/ClientDetailsProviderImpl.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/MyVaadinSessionInitListener.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/project/overview/ProjectOverviewLayout.java
Labels: feature

#110 Show project list on project overview page
  mariadb-connector/src/main/java/life/qbic/OffsetBasedRequest.java
  mariadb-connector/src/main/java/life/qbic/finance/persistence/SimpleOfferSearchService.java
  mariadb-connector/src/main/java/life/qbic/projectmanagement/persistence/ProjectJpaRepository.java
  mariadb-connector/src/main/java/life/qbic/projectmanagement/persistence/ProjectPreviewJpaRepository.java
  mariadb-connector/src/main/java/life/qbic/projectmanagement/persistence/ProjectPreviewRepository.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/application/ProjectInformationService.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/application/ProjectPreview.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/application/api/ProjectPreviewLookup.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/Project.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/ClientDetailsProvider.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/ClientDetailsProviderImpl.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/MyVaadinSessionInitListener.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/DataManagerLayout.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/project/overview/ProjectOverviewHandler.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/project/overview/ProjectOverviewHandlerInterface.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/project/overview/ProjectOverviewLayout.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/project/overview/components/CreationModeDialog.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/project/overview/components/OfferSearchDialog.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projectOverview/ProjectOverviewLayout.java
Labels: feature

#120 Introduce ProjectCode class
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/ProjectCode.java
  projectmanagement/src/test/java/life/qbic/projectmanagement/domain/project/ProjectCodeSpec.groovy
Labels: feature

#122 Introduce project code
  projectmanagement/src/main/java/life/qbic/projectmanagement/application/ProjectCreationService.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/Project.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/ProjectCode.java
  projectmanagement/src/test/java/life/qbic/projectmanagement/domain/project/ProjectCodeSpec.groovy
  projectmanagement/src/test/java/life/qbic/projectmanagement/domain/project/ProjectSpec.groovy
Labels: feature

#123 Assign random project code to new projects
  mariadb-connector/src/main/java/life/qbic/projectmanagement/persistence/ProjectJpaRepository.java
  mariadb-connector/src/main/java/life/qbic/projectmanagement/persistence/QbicProjectRepo.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/application/ProjectCreationService.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/ProjectCode.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/repository/ProjectRepository.java
Labels: feature

#121 Add offer links and display them
  projectmanagement/src/main/java/life/qbic/projectmanagement/application/ProjectCreationService.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/application/ProjectPreview.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/OfferIdentifier.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/Project.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/repository/ProjectRepository.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/repository/jpa/OfferIdentifierConverter.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/repository/jpa/ProjectObjectiveConverter.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/repository/jpa/ProjectTitleConverter.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/helloworld/HelloWorldView.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/login/LoginHandler.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/login/passwordreset/PasswordResetHandler.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/login/passwordreset/ResetPasswordLayout.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/project/create/CreateProjectComponent.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/project/create/CreateProjectHandler.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/project/create/CreateProjectHandlerInterface.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/project/create/CreateProjectLayout.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/project/create/ProjectInformationComponent.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/project/create/ProjectLink.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/project/create/ProjectLinksComponent.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/project/overview/ProjectOverviewHandler.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/register/UserRegistrationHandler.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/register/UserRegistrationLayout.java
Labels: feature

#126 Add project view page
  authentication/src/main/java/life/qbic/authentication/application/notification/NotificationService.java
  authentication/src/main/java/life/qbic/authentication/application/user/registration/UserRegistrationService.java
  authentication/src/test/groovy/life/qbic/authentication/domain/event/DomainEventSerializerSpec.groovy
  authentication/src/test/groovy/life/qbic/authentication/domain/usermanagement/policies/PasswordEncryptionPolicySpec.groovy
  authentication/src/test/groovy/life/qbic/authentication/domain/usermanagement/registration/RegistrationSpec.groovy
  authentication/src/test/groovy/life/qbic/authentication/domain/usermanagement/repository/UserRepositorySpec.groovy
  logging/src/test/groovy/life/qbic/logging/impl/publisher/SimplePublisherSpec.groovy
  mariadb-connector/src/main/java/life/qbic/authentication/persistence/QbicUserRepo.java
  mariadb-connector/src/main/java/life/qbic/authentication/persistence/UserJpaRepository.java
  mariadb-connector/src/main/java/life/qbic/finance/persistence/OfferPreviewRepository.java
  mariadb-connector/src/main/java/life/qbic/finance/persistence/SimpleOfferSearchService.java
  mariadb-connector/src/main/java/life/qbic/projectmanagement/persistence/ProjectJpaRepository.java
  mariadb-connector/src/main/java/life/qbic/projectmanagement/persistence/ProjectPreviewJpaRepository.java
  mariadb-connector/src/main/java/life/qbic/projectmanagement/persistence/ProjectPreviewRepository.java
  mariadb-connector/src/main/java/life/qbic/projectmanagement/persistence/QbicProjectRepo.java
  newshandler/src/main/java/life/qbic/newshandler/usermanagement/email/EmailSubmissionService.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/application/ProjectInformationService.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/ProjectId.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/ProjectIntent.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/ProjectObjective.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/repository/ProjectRepository.java
  subscription-provider/src/main/java/life/qbic/logging/subscription/provider/mail/EMailService.java
  subscription-provider/src/main/java/life/qbic/logging/subscription/provider/mail/property/MailPropertyLoader.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/helloworld/HelloWorldView.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/project/view/ProjectViewHandler.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/project/view/ProjectViewPage.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/project/view/components/ProjectDetailsComponent.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/project/view/components/ProjectDetailsHandler.java
Labels: feature

#127 Introduce create project dialog
  vaadinfrontend/src/main/java/life/qbic/datamanager/exceptionhandlers/CustomErrorHandler.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/components/ProjectLink.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/components/ProjectLinksComponent.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/layouts/BoxLayout.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/layouts/CardLayout.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/login/LoginHandler.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/login/newpassword/NewPasswordLayout.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/login/newpassword/NewPasswordSetLayout.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/login/passwordreset/LinkSentLayout.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/login/passwordreset/PasswordResetHandler.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/login/passwordreset/ResetPasswordLayout.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/notifications/DisplayMessage.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/notifications/ErrorMessage.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/notifications/InformationMessage.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/notifications/StyledNotification.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/notifications/SuccessMessage.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/project/create/CreateProjectComponent.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/project/create/ProjectInformationDialog.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/project/overview/ProjectOverviewHandler.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/project/overview/ProjectOverviewLayout.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/project/overview/components/CreationModeDialog.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/project/overview/components/OfferSearchDialog.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/project/view/components/ProjectDetailsComponent.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/register/UserRegistrationHandler.java
Labels: feature

#129 Navigate to project view
  projectmanagement/src/main/java/life/qbic/projectmanagement/application/ProjectPreview.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/ProjectId.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/project/overview/ProjectOverviewLayout.java
Labels: feature

#131 Refactor the project overview page to adhere to component and page structure
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/project/overview/ProjectOverviewHandlerInterface.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/project/overview/ProjectOverviewPage.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/project/overview/components/ProjectOverviewComponent.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/project/overview/components/ProjectOverviewHandler.java
Labels: chore

#132 Users can modify linked offers
  mariadb-connector/src/main/java/life/qbic/projectmanagement/persistence/ProjectJpaRepository.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/application/ProjectLinkingService.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/Project.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/repository/ProjectRepository.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/project/view/components/OfferSearchComponent.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/project/view/components/ProjectLinksComponent.java
Labels: feature

#133 Add grid layout
  vaadinfrontend/frontend/styles/views/project/project-view.css
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/project/view/ProjectViewPage.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/project/view/components/ProjectDetailsComponent.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/project/view/components/ProjectLinksComponent.java
Labels: feature

#134 Provide search service for person information
  mariadb-connector/src/main/java/life/qbic/projectmanagement/persistence/person/Person.java
  mariadb-connector/src/main/java/life/qbic/projectmanagement/persistence/person/PersonReferenceJpaRepository.java
  mariadb-connector/src/main/java/life/qbic/projectmanagement/persistence/person/PersonRepo.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/application/PersonSearchService.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/application/ProjectCreationService.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/application/api/PersonLookupService.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/PersonReference.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/Project.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/Application.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/project/create/ProjectInformationDialog.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/project/overview/components/ProjectOverviewComponent.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/project/overview/components/ProjectOverviewHandler.java
Labels: feature

#135 Users can modify project information
  projectmanagement/src/main/java/life/qbic/projectmanagement/application/ProjectCreationService.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/application/ProjectInformationService.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/application/ProjectLinkingService.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/Project.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/ProjectIntent.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/ProjectTitle.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/repository/jpa/ProjectTitleConverter.java
  projectmanagement/src/test/java/life/qbic/projectmanagement/domain/project/ProjectIntentSpec.groovy
  projectmanagement/src/test/java/life/qbic/projectmanagement/domain/project/ProjectSpec.groovy
  projectmanagement/src/test/java/life/qbic/projectmanagement/domain/project/ProjectTitleSpec.groovy
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/project/overview/components/ProjectOverviewComponent.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/project/view/ProjectViewPage.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/project/view/components/OfferSearchComponent.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/project/view/components/ProjectDetailsComponent.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/project/view/components/ProjectDetailsHandler.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/project/view/components/ProjectLinksComponent.java
Labels: feature

#139 Adjust default sorting of projects
  mariadb-connector/src/main/java/life/qbic/finance/persistence/SimpleOfferSearchService.java
  mariadb-connector/src/main/java/life/qbic/persistence/OffsetBasedRequest.java
  mariadb-connector/src/main/java/life/qbic/projectmanagement/persistence/ProjectPreviewJpaRepository.java
  mariadb-connector/src/main/java/life/qbic/projectmanagement/persistence/person/PersonReferenceJpaRepository.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/application/ProjectInformationService.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/application/SortOrder.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/application/api/ProjectPreviewLookup.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/project/overview/components/ProjectOverviewComponent.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/project/overview/components/ProjectOverviewHandler.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/project/view/components/ProjectDetailsHandler.java
Labels: feature

#140 Reset functionality also resets textfield state
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/project/create/ProjectInformationDialog.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/project/overview/components/ProjectOverviewComponent.java
Labels: fix
