Repository qbicsoftware/data-manager-app, pull requests merged in 2023-01, with the labels that each got.

#160 Provide first experimental design model
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/experiment/Condition.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/experiment/ExperimentalDesign.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/experiment/ExperimentalValue.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/experiment/ExperimentalVariable.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/experiment/SampleGroup.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/experiment/VariableLevel.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/experiment/exception/ExperimentalVariableExistsException.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/experiment/exception/SampleGroupExistsException.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/experiment/exception/UnknownConditionException.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/experiment/exception/UnknownExperimentalVariableException.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/experiment/exception/UnknownVariableLevelException.java
  projectmanagement/src/test/java/life/qbic/projectmanagement/domain/project/experiment/ConditionSpec.groovy
  projectmanagement/src/test/java/life/qbic/projectmanagement/domain/project/experiment/ExperimentalDesignSpec.groovy
  projectmanagement/src/test/java/life/qbic/projectmanagement/domain/project/experiment/ExperimentalVariableSpec.groovy
  projectmanagement/src/test/java/life/qbic/projectmanagement/domain/project/experiment/SampleGroupSpec.groovy
  projectmanagement/src/test/java/life/qbic/projectmanagement/domain/project/experiment/VariableLevelSpec.groovy
Labels: feature

#162 add openbis connector and functionality to fetch vocabularies
  openbis-connector/pom.xml
  openbis-connector/src/main/java/life/qbic/projectmanagement/persistence/repository/OpenbisConnector.java
  openbis-connector/src/main/java/life/qbic/projectmanagement/persistence/repository/OpenbisVocabularyCodes.java
  pom.xml
  projectmanagement/src/main/java/life/qbic/projectmanagement/application/ProjectInformationService.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/repository/ExperimentalDesignVocabularyRepository.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/vocabulary/Analyte.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/vocabulary/ControlledVocabulary.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/vocabulary/Species.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/vocabulary/Specimen.java
  vaadinfrontend/pom.xml
  vaadinfrontend/src/main/resources/application.properties
Labels: feature

#161 Allow specification for responsible person during project creation and project update
  projectmanagement/src/main/java/life/qbic/projectmanagement/application/ProjectCreationService.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/application/ProjectInformationService.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/Project.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/project/create/ProjectInformationDialog.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/project/overview/components/ProjectOverviewComponent.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/project/view/components/ProjectDetailsComponent.java
  vaadinfrontend/src/main/resources/application.properties
Labels: feature

#163 Fix Spacing of ProjectDetailsComponent
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/project/view/components/ProjectDetailsComponent.java
Labels: fix

#164 Simplify Openbis connection
  openbis-connector/src/main/java/life/qbic/projectmanagement/persistence/repository/OpenbisConnector.java
  openbis-connector/src/main/java/life/qbic/projectmanagement/persistence/repository/OpenbisVocabularyCodes.java
  openbis-connector/src/main/java/life/qbic/projectmanagement/persistence/repository/VocabularyCode.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/application/ExperimentalDesignSearchService.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/application/ProjectInformationService.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/experiment/repository/ExperimentalDesignVocabularyRepository.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/experiment/vocabulary/Analyte.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/experiment/vocabulary/Organism.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/experiment/vocabulary/Specimen.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/repository/ExperimentalDesignVocabularyRepository.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/vocabulary/ControlledVocabulary.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/project/create/ProjectInformationDialog.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/project/overview/components/ProjectOverviewComponent.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/project/view/components/ProjectDetailsComponent.java
Labels: chore

#167 Feature/dm 677/add empty project
  database-connector/pom.xml
  database-connector/src/main/java/life/qbic/authentication/persistence/QbicUserRepo.java
  database-connector/src/main/java/life/qbic/authentication/persistence/UserJpaRepository.java
  database-connector/src/main/java/life/qbic/finance/persistence/OfferPreviewRepository.java
  database-connector/src/main/java/life/qbic/finance/persistence/OfferRepository.java
  database-connector/src/main/java/life/qbic/finance/persistence/SimpleOfferSearchService.java
  database-connector/src/main/java/life/qbic/persistence/OffsetBasedRequest.java
  database-connector/src/main/java/life/qbic/projectmanagement/persistence/ExperimentalDesignRepository.java
  database-connector/src/main/java/life/qbic/projectmanagement/persistence/ProjectPreviewJpaRepository.java
  database-connector/src/main/java/life/qbic/projectmanagement/persistence/ProjectPreviewRepository.java
  database-connector/src/main/java/life/qbic/projectmanagement/persistence/ProjectRepositoryImpl.java
  database-connector/src/main/java/life/qbic/projectmanagement/persistence/QbicProjectDataRepo.java
  database-connector/src/main/java/life/qbic/projectmanagement/persistence/QbicProjectRepo.java
  database-connector/src/main/java/life/qbic/projectmanagement/persistence/person/Person.java
  database-connector/src/main/java/life/qbic/projectmanagement/persistence/person/PersonReferenceJpaRepository.java
  database-connector/src/main/java/life/qbic/projectmanagement/persistence/person/PersonRepo.java
  database-connector/src/main/java/life/qbic/projectmanagement/persistence/repository/OpenbisConnector.java
  database-connector/src/main/java/life/qbic/projectmanagement/persistence/repository/VocabularyCode.java
  openbis-connector/pom.xml
  openbis-connector/src/main/java/life/qbic/projectmanagement/persistence/repository/OpenbisConnector.java
  pom.xml
  projectmanagement/src/main/java/life/qbic/projectmanagement/application/ProjectCreationService.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/application/ProjectInformationService.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/Project.java
  vaadinfrontend/pom.xml
  vaadinfrontend/src/main/java/life/qbic/datamanager/AppConfig.java
Labels: feature
