Repository qbicsoftware/data-manager-app, pull requests merged in 2023-04, with the labels that each got.

#192 Introduce experimental groups in domain and persistence layer
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/experiment/Condition.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/experiment/Experiment.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/experiment/ExperimentalDesign.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/experiment/ExperimentalGroup.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/experiment/SampleGroup.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/experiment/VariableLevel.java
  projectmanagement/src/test/groovy/life/qbic/projectmanagement/domain/project/experiment/ConditionSpec.groovy
  projectmanagement/src/test/groovy/life/qbic/projectmanagement/domain/project/experiment/ExperimentalDesignSpec.groovy
  projectmanagement/src/test/groovy/life/qbic/projectmanagement/domain/project/experiment/ExperimentalGroupSpec.groovy
Labels: feature

#196 add experimental group handling to experiment information service
  projectmanagement/src/main/java/life/qbic/projectmanagement/application/ExperimentInformationService.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/experiment/Condition.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/experiment/Experiment.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/experiment/ExperimentalDesign.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/experiment/ExperimentalVariable.java
  projectmanagement/src/test/groovy/life/qbic/projectmanagement/application/ExperimentInformationServiceSpec.groovy
  projectmanagement/src/test/groovy/life/qbic/projectmanagement/domain/project/experiment/ExperimentalVariableSpec.groovy
  projectmanagement/src/test/groovy/life/qbic/projectmanagement/domain/project/experiment/VariableLevelSpec.groovy
Labels: feature

#195 Feature/dm 734 sample page with routing
  projectmanagement/src/main/java/life/qbic/projectmanagement/application/SampleInformationService.java
  vaadinfrontend/frontend/styles/views/project/project-view.css
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/ProjectNavigationBarComponent.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/ProjectViewHandler.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/ProjectViewPage.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/samples/SampleInformationPage.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/samples/SampleOverviewComponent.java
Labels: feature

#200 Feature/dm 737/responsive component size
  vaadinfrontend/frontend/styles/views/project/project-view.css
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/overview/ProjectOverviewPage.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/ProjectNavigationBarComponent.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/ProjectViewHandler.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/ProjectViewPage.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/experiments/ExperimentInformationPage.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/info/ProjectInformationPage.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/info/ProjectLinksComponent.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/samples/SampleInformationPage.java
Labels: feature

#199 Introduce form input validation strategy
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/events/UserCancelEvent.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/create/ProjectCreationContent.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/create/ProjectCreationEvent.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/create/ProjectInformationDialog.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/overview/components/ProjectOverviewComponent.java
Labels: feature

#198 Add Experimental Group using the UI
  projectmanagement/src/main/java/life/qbic/projectmanagement/application/ExperimentInformationService.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/experiment/Experiment.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/experiment/ExperimentalDesign.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/experiment/ExperimentalValue.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/experiment/ExperimentalVariable.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/experiment/VariableLevel.java
  projectmanagement/src/test/groovy/life/qbic/projectmanagement/application/ExperimentInformationServiceSpec.groovy
  projectmanagement/src/test/groovy/life/qbic/projectmanagement/domain/project/experiment/ExperimentalDesignSpec.groovy
  projectmanagement/src/test/groovy/life/qbic/projectmanagement/domain/project/experiment/ExperimentalVariableSpec.groovy
  vaadinfrontend/frontend/themes/datamanager/creation-mode-dialog.css
  vaadinfrontend/frontend/themes/datamanager/creationModeDialog.css
  vaadinfrontend/frontend/themes/datamanager/styles.css
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/general/Container.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/experiments/ExperimentalDesignAddCard.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/experiments/experiment/AddExperimentalGroupsDialog.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/experiments/experiment/AddVariablesDialog.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/experiments/experiment/ExperimentDetailsComponent.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/experiments/experiment/ExperimentalGroupInput.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/experiments/experiment/ExperimentalGroupsLayout.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/experiments/experiment/ExperimentalVariableCard.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/experiments/experiment/Tag.java
Labels: feature

#201 Provide Mock implementation of SampleSheet Component during Sample registration
  database-connector/pom.xml
  projectmanagement/src/main/java/life/qbic/projectmanagement/application/SampleRegistrationService.java
  vaadinfrontend/frontend/themes/datamanager/components/vaadin-tabsheet.css
  vaadinfrontend/pom.xml
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/samples/SampleOverviewComponent.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/samples/batchRegistration/GeneralInformationLayout.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/samples/batchRegistration/MetaDataTypes.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/samples/batchRegistration/SampleRegistrationDialog.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/samples/batchRegistration/SampleRegistrationEvent.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/samples/batchRegistration/SampleSpreadsheetLayout.java
Labels: feature

#203 Update nexus-publish-snapshots.yml
  .github/workflows/build_package.yml
  .github/workflows/create-release.yml
  .github/workflows/nexus-publish-snapshots.yml
Labels: chore

#205 Feature/dm 737/responsive component size
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/experiments/ExperimentInformationPage.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/info/ProjectInformationPage.java
Labels: feature

#206 reduce unnecessary height of navbar
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/ProjectNavigationBarComponent.java
Labels: fix

#209 Feature/dm 749/display sample size on experimental group cards
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/experiments/experiment/ExperimentalGroupsLayout.java
Labels: feature

#213 Share domain core concepts
  authentication/pom.xml
  authentication/src/main/java/life/qbic/authentication/application/notification/Notification.java
  authentication/src/main/java/life/qbic/authentication/application/user/registration/UserRegistrationService.java
  authentication/src/main/java/life/qbic/authentication/domain/user/concept/User.java
  authentication/src/main/java/life/qbic/authentication/domain/user/event/PasswordReset.java
  authentication/src/main/java/life/qbic/authentication/domain/user/event/UserActivated.java
  authentication/src/main/java/life/qbic/authentication/domain/user/event/UserEmailConfirmed.java
  authentication/src/main/java/life/qbic/authentication/domain/user/event/UserRegistered.java
  authentication/src/main/java/life/qbic/authentication/domain/user/repository/UserDomainService.java
  authentication/src/test/groovy/life/qbic/authentication/domain/user/UserSpec.groovy
  authentication/src/test/groovy/life/qbic/authentication/domain/usermanagement/registration/RegistrationSpec.groovy
  domain-concept/pom.xml
  domain-concept/src/main/java/life/qbic/domain/concepts/DomainEvent.java
  domain-concept/src/main/java/life/qbic/domain/concepts/DomainEventPublisher.java
  domain-concept/src/main/java/life/qbic/domain/concepts/DomainEventSerializer.java
  domain-concept/src/main/java/life/qbic/domain/concepts/DomainEventSubscriber.java
  domain-concept/src/main/java/life/qbic/domain/concepts/EventRepository.java
  domain-concept/src/main/java/life/qbic/domain/concepts/SimpleEventStore.java
  domain-concept/src/main/java/life/qbic/domain/concepts/StoredEvent.java
  domain-concept/src/main/java/life/qbic/domain/concepts/TemporaryEventRepository.java
  domain-concept/src/main/java/life/qbic/domain/concepts/UnrecognizedEventTypeException.java
  domain-concept/src/main/java/life/qbic/domain/concepts/event/EventStore.java
  domain-concept/src/main/java/life/qbic/domain/concepts/event/EventStoreSpec.groovy
  domain-concept/src/test/groovy/life/qbic/domain/concepts/event/DomainEventSerializerSpec.groovy
  domain-concept/src/test/groovy/life/qbic/domain/concepts/event/TestEvent.groovy
  pom.xml
  vaadinfrontend/pom.xml
  vaadinfrontend/src/main/java/life/qbic/datamanager/AppConfig.java
Labels: chore

#210 Implement Result object
  authentication/src/main/java/life/qbic/authentication/application/user/password/NewPassword.java
  authentication/src/main/java/life/qbic/authentication/application/user/registration/UserRegistrationService.java
  commons/src/main/java/life/qbic/application/commons/Result.java
  commons/src/test/groovy/life/qbic/application/commons/ErrorSpec.groovy
  commons/src/test/groovy/life/qbic/application/commons/ResultSpec.groovy
  commons/src/test/groovy/life/qbic/application/commons/ValueSpec.groovy
  projectmanagement/src/main/java/life/qbic/projectmanagement/application/AddExperimentToProjectService.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/application/ProjectCreationService.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/experiment/Experiment.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/experiment/ExperimentalDesign.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/experiment/ExperimentalVariable.java
  projectmanagement/src/test/groovy/life/qbic/projectmanagement/application/AddExperimentToProjectServiceSpec.groovy
  projectmanagement/src/test/groovy/life/qbic/projectmanagement/application/ProjectCreationServiceSpec.groovy
  projectmanagement/src/test/groovy/life/qbic/projectmanagement/domain/project/experiment/ExperimentalDesignSpec.groovy
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/overview/components/ProjectOverviewComponent.java
Labels: feature

#215 Check for Expirmental Group Id in Equals and Hashcode
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/experiment/ExperimentalGroup.java
  projectmanagement/src/test/groovy/life/qbic/projectmanagement/domain/project/experiment/ConditionSpec.groovy
  projectmanagement/src/test/groovy/life/qbic/projectmanagement/domain/project/experiment/ExperimentalGroupSpec.groovy
Labels: fix

#220 open notification on CONDITION_EXISTS return code
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/experiments/experiment/AddExperimentalGroupsDialog.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/experiments/experiment/ExperimentDetailsComponent.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/experiments/experiment/ExperimentalGroupInput.java
Labels: feature

#219 if no variables are defined, forward user to summary and notify them
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/experiments/experiment/ExperimentDetailsComponent.java
Labels: feature

#217 Feature/dm 750/update experimental group card design
  .gitignore
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/experiments/experiment/ExperimentalGroupsLayout.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/experiments/experiment/Tag.java
Labels: feature
