Repository qbicsoftware/data-manager-app, pull requests merged in 2023-03, with the labels that each got.

#175 Centralize app routes in global constant class
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/AppRoutes.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/about/AboutView.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/helloworld/HelloWorldView.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/landing/LandingPageHandler.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/landing/LandingPageLayout.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/login/LoginHandler.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/login/LoginLayout.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/login/newpassword/NewPasswordLayout.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/login/passwordreset/ResetPasswordLayout.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/project/overview/ProjectOverviewPage.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/project/overview/components/ProjectOverviewComponent.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/project/view/ProjectViewPage.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/project/view/components/ProjectDetailsComponent.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/register/UserRegistrationLayout.java
Labels: chore

#181 Make project responsible optional again
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/Project.java
Labels: fix

#180 Set sample origin boxes as required in Project Creation Dialogue.
  commons/src/main/java/life/qbic/application/commons/ApplicationException.java
  database-connector/src/main/java/life/qbic/projectmanagement/persistence/repository/OpenbisConnector.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/application/AddExperimentToProjectService.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/application/ExperimentInformationService.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/application/ProjectCreationService.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/application/ProjectInformationService.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/ExperimentalDesignDescription.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/Project.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/project/create/ProjectInformationDialog.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/project/view/components/ExperimentalDesignDetailComponent.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/project/view/components/ProjectDetailsComponent.java
  vaadinfrontend/src/main/resources/messages.properties
Labels: fix

#183 Fix Format in project creation dialog
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/project/create/ProjectInformationDialog.java
Labels: fix

#185 change cursor for editable elements to pointer
  vaadinfrontend/frontend/themes/datamanager/components/vaadin-button.css
  vaadinfrontend/frontend/themes/datamanager/components/vaadin-form-item.css
Labels: feature

#186 Introduce pages showing project and experiment information and add active experiment UI
  projectmanagement/src/main/java/life/qbic/projectmanagement/application/ExperimentInformationService.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/application/ExperimentValueFormatter.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/application/ProjectInformationService.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/PersonReference.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/Project.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/experiment/Experiment.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/experiment/ExperimentalDesign.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/experiment/ExperimentalValue.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/experiment/ExperimentalVariable.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/experiment/vocabulary/Specimen.java
  projectmanagement/src/test/groovy/life/qbic/projectmanagement/application/ExperimentInformationServiceSpec.groovy
  projectmanagement/src/test/groovy/life/qbic/projectmanagement/application/ProjectInformationServiceSpec.groovy
  vaadinfrontend/frontend/styles/views/project/project-view.css
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/layouts/CardLayout.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/project/experiment/ExperimentCreationDialog.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/project/experiment/ExperimentalVariable.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/project/view/ProjectViewHandler.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/project/view/ProjectViewPage.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/create/ProjectInformationDialog.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/overview/ProjectOverviewPage.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/overview/components/ProjectOverviewComponent.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/ProjectNavigationBarComponent.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/ProjectViewHandler.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/ProjectViewPage.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/experiments/ExperimentInformationPage.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/experiments/ExperimentListComponent.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/experiments/ExperimentalDesignAddCard.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/experiments/ExperimentalDesignCard.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/experiments/experiment/AddVariableToExperimentDialog.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/experiments/experiment/ExperimentDetailsComponent.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/experiments/experiment/ExperimentalVariableCard.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/info/ProjectDetailsComponent.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/info/ProjectInformationPage.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/info/ProjectLink.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/info/ProjectLinksComponent.java
Labels: feature

#193 Increase number of iterations to 100k for PBKDF2
  authentication/src/main/java/life/qbic/authentication/domain/user/policy/PasswordEncryptionPolicy.java
  authentication/src/test/groovy/life/qbic/authentication/domain/usermanagement/policies/PasswordEncryptionPolicySpec.groovy
Labels: fix

#194 Fix several routing issues
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/MainPage.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/login/LoginHandler.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/overview/ProjectOverviewPage.java
  vaadinfrontend/src/main/resources/application.properties
Labels: fix
