Repository qbicsoftware/data-manager-app, pull requests merged in 2023-06, with the labels that each got.

#252 Base css styling definitions on the extended java component
  vaadinfrontend/frontend/themes/datamanager/components/card.css
  vaadinfrontend/frontend/themes/datamanager/components/custom.css
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/general/DisclaimerCard.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/experiments/experiment/ExperimentalGroupCard.java
Labels: feature

#247 Update GitHub Actions
  .github/dependabot.yml
  .github/labeler.yml
  .github/pr-labels.yml
  .github/workflows/build_package.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/create-release.yml
  .github/workflows/label-pull-request.yml
  .github/workflows/label-pull-requests.yml
  .github/workflows/nexus-publish-snapshots.yml
  .github/workflows/run_tests.yml
Labels: chore

#253 Update disclaimer card component for reuse
  vaadinfrontend/frontend/themes/datamanager/components/card.css
  vaadinfrontend/frontend/themes/datamanager/components/custom.css
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/general/DisclaimerCard.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/experiments/experiment/ExperimentDetailsComponent.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/experiments/experiment/ExperimentalGroupCard.java
Labels: feature

#250 add home button
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/MainHandler.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/MainLayout.java
Labels: feature

#254 Enable exchangeable tab content for experiment info
  vaadinfrontend/frontend/themes/datamanager/components/card.css
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/experiments/experiment/ExperimentDetailsComponent.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/experiments/experiment/components/ExperimentalGroupCardCollection.java
Labels: feature

#256 Add experimental variables component
  vaadinfrontend/frontend/themes/datamanager/components/card.css
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/experiments/experiment/ExperimentDetailsComponent.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/experiments/experiment/components/ExperimentInfoComponent.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/experiments/experiment/components/ExperimentInfoEditEvent.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/experiments/experiment/components/ExperimentalVariablesComponent.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/experiments/experiment/components/ExperimentalVariablesEditEvent.java
Labels: feature

#257 create attachments component css
  vaadinfrontend/frontend/themes/datamanager/components/page-area.css
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/general/SupportArea.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/info/ProjectLinksComponent.java
Labels: feature

#259 Minor UI improvements in ExperimentDetailsComponent
  vaadinfrontend/frontend/themes/datamanager/components/vaadin-button.css
  vaadinfrontend/frontend/themes/datamanager/components/vaadin-combo-box.css
  vaadinfrontend/frontend/themes/datamanager/components/vaadin-custom.css
  vaadinfrontend/frontend/themes/datamanager/components/vaadin-form-item.css
  vaadinfrontend/frontend/themes/datamanager/components/vaadin-tabsheet.css
  vaadinfrontend/frontend/themes/datamanager/creation-mode-dialog.css
  vaadinfrontend/frontend/themes/datamanager/main-layout.css
  vaadinfrontend/frontend/themes/datamanager/styles.css
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/MainLayout.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/create/ProjectCreationDialog.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/experiments/experiment/ExperimentDetailsComponent.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/experiments/experiment/ExperimentalGroupInput.java
Labels: chore

#260 Ensure openbis connection before accessing the openbis api
  database-connector/pom.xml
  database-connector/src/main/java/life/qbic/projectmanagement/persistence/repository/OpenbisConnector.java
Labels: feature

#270 Package in production mode
  .github/workflows/create-release.yml
Labels: chore

#271 Add vaadin license key
  .github/workflows/build_package.yml
  .github/workflows/create-release.yml
  .github/workflows/nexus-publish-snapshots.yml
Labels: chore

#273 Force production build
  .github/workflows/create-release.yml
Labels: chore

#262 Render variable name header correctly
  vaadinfrontend/frontend/themes/datamanager/components/card.css
Labels: fix

#276 Throw RTE if sample cannot be attached to a batch
  projectmanagement/src/main/java/life/qbic/projectmanagement/application/policy/directive/AddSampleToBatch.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/application/policy/directive/CreateNewSampleStatisticsEntry.java
Labels: feature

#263 Introduce dialog component, ask for optional contact person last
  vaadinfrontend/frontend/styles/components/create-project.css
  vaadinfrontend/frontend/themes/datamanager/components/custom.css
  vaadinfrontend/frontend/themes/datamanager/components/dialog.css
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/general/DialogWindow.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/create/ProjectCreationDialog.java
Labels: feature

#279 Introduce project collection component
  vaadinfrontend/frontend/themes/datamanager/components/custom.css
  vaadinfrontend/frontend/themes/datamanager/components/page-area.css
  vaadinfrontend/frontend/themes/datamanager/components/project-collection.css
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/overview/ProjectOverviewPage.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/overview/components/ProjectCollection.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/overview/components/ProjectCreationClickedEvent.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/overview/components/ProjectOverviewComponent.java
Labels: feature

#278 Refactor Experimentpage with event based Experimentcreation and selection
  vaadinfrontend/frontend/themes/datamanager/components/card.css
  vaadinfrontend/frontend/themes/datamanager/components/custom.css
  vaadinfrontend/frontend/themes/datamanager/components/main.css
  vaadinfrontend/frontend/themes/datamanager/components/page-area.css
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/general/MainComponent.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/general/SupportArea.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/ProjectNavigationBarComponent.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/ProjectViewPage.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/experiments/ExperimentContentComponent.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/experiments/ExperimentInformationMain.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/experiments/ExperimentInformationPage.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/experiments/ExperimentListComponent.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/experiments/ExperimentSupportComponent.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/experiments/experiment/ExperimentDetailsComponent.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/experiments/experiment/ExperimentalVariableCard.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/info/ProjectLinksComponent.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/support/experiment/ExperimentItemCollection.java
Labels: feature

#277 Generalizes dialog styling and only allows closing via cancel button
  vaadinfrontend/frontend/themes/datamanager/components/dialog.css
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/general/DialogWindow.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/create/DefineExperimentComponent.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/create/ProjectCreationDialog.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/experiments/experiment/AddExperimentalGroupsDialog.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/experiments/experiment/ExperimentalGroupInput.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/experiments/experiment/components/AddExperimentalVariablesDialog.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/experiments/experiment/create/ExperimentCreationDialog.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/samples/registration/batch/BatchInformationLayout.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/samples/registration/batch/BatchRegistrationDialog.java
Labels: feature
