Repository qbicsoftware/data-manager-app, pull requests merged in 2023-08, with the labels that each got.

#338 Adds prefill option to sample batch registration
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/experiment/BiologicalReplicate.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/samples/SampleDetailsComponent.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/samples/registration/batch/BatchInformationLayout.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/samples/registration/batch/BatchRegistrationDialog.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/samples/registration/batch/SampleRegistrationSpreadsheet.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/samples/registration/batch/SampleSpreadsheetLayout.java
Labels: feature

#337 Check if the cells contain valid values before validation
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/samples/registration/batch/SampleRegistrationSpreadsheet.java
Labels: fix

#340 Batch registration is enqueued propely with jobrunnr
  projectmanagement/src/main/java/life/qbic/projectmanagement/application/policy/SampleRegisteredPolicy.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/application/policy/directive/AddSampleToBatch.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/application/policy/directive/CreateNewSampleStatisticsEntry.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/application/sample/SampleRegistrationService.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/sample/Batch.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/sample/SampleId.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/samples/registration/batch/SampleRegistrationSpreadsheet.java
Labels: fix

#344 Project information can be edited with a dialog within the projectinformationpage
  vaadinfrontend/frontend/themes/datamanager/components/dialog.css
  vaadinfrontend/frontend/themes/datamanager/components/page-area.css
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/info/DefineProjectComponent.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/info/ProjectContentComponent.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/info/ProjectDetailsComponent.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/info/ProjectEditEvent.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/info/ProjectInformationContent.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/info/ProjectInformationDialog.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/info/ProjectInformationMain.java
Labels: chore

#345 Replace Card based Disclaimers with Add buttons
  vaadinfrontend/frontend/themes/datamanager/components/button.css
  vaadinfrontend/frontend/themes/datamanager/components/card.css
  vaadinfrontend/frontend/themes/datamanager/components/custom.css
  vaadinfrontend/frontend/themes/datamanager/components/div.css
  vaadinfrontend/frontend/themes/datamanager/components/project-collection.css
  vaadinfrontend/frontend/themes/datamanager/components/span.css
  vaadinfrontend/frontend/themes/datamanager/components/tag-collection.css
  vaadinfrontend/frontend/themes/datamanager/components/vaadin-custom.css
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/general/Disclaimer.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/general/DisclaimerConfirmedEvent.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/experiments/ExperimentListComponent.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/experiments/experiment/ExperimentDetailsComponent.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/experiments/experiment/ExperimentalGroupCard.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/experiments/experiment/components/ExperimentalVariablesComponent.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/samples/SampleDetailsComponent.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/support/experiment/ExperimentItemCollection.java
Labels: feature

#351 Fix invalid class name in edituseraccessdialog
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/access/EditUserAccessToProjectDialog.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/access/ProjectAccessComponent.java
Labels: chore

#353 Set Generationtype strategy to AUTO for id generation
  database-connector/src/main/java/life/qbic/projectmanagement/experiment/persistence/SampleStatisticEntry.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/application/sample/SampleInformationService.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/experiment/ExperimentalGroup.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/experiment/ExperimentalVariable.java
Labels: fix

#346 Data-manager-application pages use the entire screen width and height independent of content
  vaadinfrontend/frontend/themes/datamanager/components/div.css
  vaadinfrontend/frontend/themes/datamanager/components/main.css
  vaadinfrontend/frontend/themes/datamanager/components/page-area.css
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/experiments/ExperimentListComponent.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/experiments/experiment/ExperimentDetailsComponent.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/samples/SampleDetailsComponent.java
Labels: fix

#348 Show disclaimer if no samples have been registered in an experiment
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/samples/SampleDetailsComponent.java
Labels: feature

#357 User can see the button in the spreadsheet layout independent of number of rows
  vaadinfrontend/frontend/themes/datamanager/components/dialog.css
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/samples/registration/batch/BatchRegistrationDialog.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/samples/registration/batch/SampleRegistrationSpreadsheet.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/samples/registration/batch/SampleSpreadsheetLayout.java
Labels: chore

#355 Inform the user if editing variables or groups is not possible before requesting information
  vaadinfrontend/frontend/themes/datamanager/components/button.css
  vaadinfrontend/frontend/themes/datamanager/components/custom.css
  vaadinfrontend/frontend/themes/datamanager/components/dialog.css
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/general/DialogWindow.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/general/Disclaimer.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/notifications/NotificationDialog.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/create/AddProjectDialog.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/experiments/ExperimentContentComponent.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/experiments/ExperimentInformationMain.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/experiments/experiment/ExistingSamplesPreventGroupEdit.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/experiments/experiment/ExperimentDetailsComponent.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/experiments/experiment/components/ExistingGroupsPreventVariableEdit.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/experiments/experiment/components/ExistingSamplesPreventVariableEdit.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/experiments/experiment/components/ExperimentEditEvent.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/experiments/experiment/components/ExperimentalVariablesAddEvent.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/experiments/experiment/components/ExperimentalVariablesComponent.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/experiments/experiment/components/ExperimentalVariablesDialog.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/samples/SampleDetailsComponent.java
Labels: feature
