Repository qbicsoftware/data-manager-app, pull requests merged in 2023-05, with the labels that each got.

#222 Add missing jackson dependency
  pom.xml
Labels: fix

#224 Hotfix 0.15.1
  vaadinfrontend/src/main/resources/application.properties
Labels: fix

#227 Show error page or user notification in case of exceptions
  ExceptionHandling.md
  commons/src/main/java/life/qbic/application/commons/ApplicationException.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/application/AddExperimentToProjectService.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/application/ExperimentInformationService.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/application/ProjectCreationService.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/application/ProjectInformationService.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/application/ProjectLinkingService.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/application/ProjectManagementException.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/ProjectManagementDomainException.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/ProjectObjective.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/ProjectTitle.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/experiment/vocabulary/Analyte.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/experiment/vocabulary/Species.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/experiment/vocabulary/Specimen.java
  projectmanagement/src/test/groovy/life/qbic/projectmanagement/domain/project/ProjectTitleSpec.groovy
  vaadinfrontend/src/main/java/life/qbic/datamanager/ClientDetailsProviderImpl.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/MyVaadinSessionInitListener.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/exceptionhandlers/ApplicationExceptionHandler.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/exceptionhandlers/CustomErrorHandler.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/exceptionhandling/ErrorMessageTranslationService.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/exceptionhandling/UiExceptionHandler.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/exceptionhandling/routing/ErrorPage.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/exceptionhandling/routing/exception/ExceptionErrorPage.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/exceptionhandling/routing/notfound/NotFoundPage.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/ProjectNavigationBarComponent.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/ProjectViewHandler.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/ProjectViewPage.java
  vaadinfrontend/src/main/resources/messages.properties
  vaadinfrontend/src/main/resources/messages_de.properties
Labels: feature

#229 Make data generation tech selectable in spreadsheet
  projectmanagement/src/main/java/life/qbic/projectmanagement/application/SampleRegistrationService.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/samples/batchRegistration/MetaDataTypes.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/samples/batchRegistration/SampleSpreadsheetLayout.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/samples/batchRegistration/SpreadsheetDropdownFactory.java
Labels: feature

#230 lock spreadsheet, add unlock-method for columns
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/samples/batchRegistration/SampleSpreadsheetLayout.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/samples/batchRegistration/SpreadsheetDropdownFactory.java
Labels: feature

#212 Introduce sample batch domain model
  database-connector/src/main/java/life/qbic/projectmanagement/experiment/persistence/BatchJpaRepository.java
  database-connector/src/main/java/life/qbic/projectmanagement/experiment/persistence/QbicBatchRepo.java
  database-connector/src/main/java/life/qbic/projectmanagement/experiment/persistence/QbicSampleRepository.java
  database-connector/src/main/java/life/qbic/projectmanagement/experiment/persistence/SampleJpaRepository.java
  pom.xml
  projectmanagement/pom.xml
  projectmanagement/src/main/java/life/qbic/projectmanagement/application/batch/BatchRegistrationService.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/application/policy/SampleRegisteredPolicy.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/application/policy/directive/AddSampleToBatch.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/repository/BatchRepository.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/repository/SampleRepository.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/repository/jpa/BatchIdConverter.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/repository/jpa/SampleIdConverter.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/sample/Batch.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/sample/BatchId.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/sample/Sample.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/sample/SampleId.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/sample/SampleOrigin.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/sample/SampleRegistrationRequest.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/sample/event/BatchRegistered.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/sample/event/SampleRegistered.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/service/BatchDomainService.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/service/SampleDomainService.java
  projectmanagement/src/test/groovy/life/qbic/projectmanagement/TestApplication.java
  projectmanagement/src/test/groovy/life/qbic/projectmanagement/application/policy/SampleRegisteredPolicySpec.groovy
  projectmanagement/src/test/groovy/life/qbic/projectmanagement/domain/project/service/BatchDomainServiceSpec.groovy
  projectmanagement/src/test/groovy/life/qbic/projectmanagement/domain/project/service/SampleDomainServiceSpec.groovy
  vaadinfrontend/src/main/java/life/qbic/datamanager/AppConfig.java
Labels: feature

#232 Introduce sample code generator and statistics
  database-connector/pom.xml
  database-connector/src/main/java/life/qbic/projectmanagement/experiment/persistence/SampleCodeServiceImplementation.java
  database-connector/src/main/java/life/qbic/projectmanagement/experiment/persistence/SampleStatistic.java
  database-connector/src/main/java/life/qbic/projectmanagement/experiment/persistence/SampleStatisticEntry.java
  database-connector/src/test/groovy/life/qbic/projectmanagement/experiment/persistence/SampleCodeJpaRepositorySpec.groovy
  pom.xml
  projectmanagement/src/main/java/life/qbic/projectmanagement/application/ProjectInformationService.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/application/ProjectRegistrationService.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/application/SampleRegistrationService.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/application/api/SampleCodeService.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/application/batch/BatchRegistrationService.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/application/policy/ProjectRegisteredPolicy.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/application/policy/directive/CreateNewSampleStatisticsEntry.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/Project.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/ProjectCode.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/event/ProjectRegisteredEvent.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/sample/Sample.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/sample/SampleCode.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/service/ProjectDomainService.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/service/SampleDomainService.java
  projectmanagement/src/test/groovy/life/qbic/projectmanagement/TestApplication.java
  projectmanagement/src/test/groovy/life/qbic/projectmanagement/application/ProjectCreationServiceSpec.groovy
  projectmanagement/src/test/groovy/life/qbic/projectmanagement/application/policy/ProjectRegisteredPolicySpec.groovy
  projectmanagement/src/test/groovy/life/qbic/projectmanagement/domain/project/service/SampleDomainServiceSpec.groovy
  vaadinfrontend/src/main/java/life/qbic/datamanager/AppConfig.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/overview/components/ProjectOverviewComponent.java
  vaadinfrontend/src/main/resources/application.properties
  vaadinfrontend/src/main/resources/messages.properties
Labels: feature

#237 Generate biological replicates upon exp. group creation
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/experiment/BiologicalReplicate.java
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/experiment/ExperimentalGroup.java
  projectmanagement/src/test/groovy/life/qbic/projectmanagement/domain/project/experiment/BiologicalReplicateSpec.groovy
Labels: feature

#236 Fix Card Size for Pagecomponents and introduce dedicated pagecardcomponents
  vaadinfrontend/frontend/styles/components/card-layout.css
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/layouts/CardComponent.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/layouts/CardLayout.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/layouts/PageComponent.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/overview/ProjectOverviewPage.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/overview/components/ProjectOverviewComponent.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/ProjectNavigationBarComponent.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/ProjectViewPage.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/experiments/ExperimentListComponent.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/experiments/ExperimentalDesignAddCard.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/experiments/ExperimentalDesignCard.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/experiments/experiment/ExperimentDetailsComponent.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/experiments/experiment/ExperimentalVariableCard.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/info/ProjectDetailsComponent.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/info/ProjectInformationPage.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/info/ProjectLinksComponent.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/samples/SampleInformationPage.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/samples/SampleOverviewComponent.java
Labels: fix

#240 Load biological replicates eagerly for experimental groups
  projectmanagement/src/main/java/life/qbic/projectmanagement/domain/project/experiment/ExperimentalGroup.java
Labels: fix

#243 Remove german exception messages as vaadin always uses machine not client locale
  vaadinfrontend/src/main/resources/messages_de.properties
Labels: feature

#246 Minor UI adjustments: Resize NavigationBar, replace ExperimentalDesign Headers and show Batchname in SampleSpreadSheetTab
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/layouts/PageComponent.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/overview/components/ProjectOverviewComponent.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/ProjectNavigationBarComponent.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/experiments/ExperimentListComponent.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/samples/SampleOverviewComponent.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/samples/registration/batch/BatchInformationLayout.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/samples/registration/batch/MetaDataTypes.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/samples/registration/batch/SampleRegistrationDialog.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/samples/registration/batch/SampleRegistrationEvent.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/samples/registration/batch/SampleSpreadsheetLayout.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/samples/registration/batch/SpreadsheetDropdownFactory.java
Labels: chore

#241 Improve UI of ExperimentListComponent
  projectmanagement/src/main/java/life/qbic/projectmanagement/application/ProjectRegistrationService.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/experiments/ExperimentListComponent.java
  vaadinfrontend/src/main/java/life/qbic/datamanager/views/projects/project/experiments/ExperimentalDesignCard.java
Labels: chore
