Repository qbicsoftware/data-manager-app, pull requests merged in 2023-11, with the labels that each got.

#422 Re-arrange finance module
  finances-api/pom.xml
  finances-api/src/main/java/life/qbic/finances/api/FinanceService.java
  finances-api/src/main/java/life/qbic/finances/api/Offer.java
  finances-api/src/main/java/life/qbic/finances/api/OfferSummary.java
  finances-infrastructure/pom.xml
  finances-infrastructure/src/main/java/life/qbic/finance/infrastructure/OfferPreviewRepository.java
  finances-infrastructure/src/main/java/life/qbic/finance/infrastructure/OfferRepository.java
  finances-infrastructure/src/main/java/life/qbic/finance/infrastructure/OffsetBasedRequest.java
  finances-infrastructure/src/main/java/life/qbic/finance/infrastructure/SimpleOfferSearchService.java
  finances/pom.xml
  finances/src/main/java/life/qbic/controlling/application/finances/offer/OfferLookupService.java
  finances/src/main/java/life/qbic/finance/application/FinanceServiceImpl.java
  finances/src/main/java/life/qbic/finance/application/OfferSearchService.java
  finances/src/main/java/life/qbic/finance/domain/model/ExperimentalDesignDescription.java
  finances/src/main/java/life/qbic/finance/domain/model/Offer.java
  finances/src/main/java/life/qbic/finance/domain/model/OfferId.java
  finances/src/main/java/life/qbic/finance/domain/model/OfferPreview.java
  finances/src/main/java/life/qbic/finance/domain/model/ProjectObjective.java
  finances/src/main/java/life/qbic/finance/domain/model/ProjectTitle.java
  pom.xml
  project-management-infrastructure/pom.xml
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/authorization/authority/UserRoleJpa.java
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/authorization/authority/UserRoleRepositoryImpl.java
  project-management/pom.xml
  project-management/src/main/java/life/qbic/projectmanagement/application/ProjectLinkingService.java
  project-management/src/main/java/life/qbic/projectmanagement/application/authorization/authorities/AuthorityService.java
  project-management/src/main/java/life/qbic/projectmanagement/application/authorization/authorities/UserRoleRepository.java
  project-management/src/main/java/life/qbic/projectmanagement/application/policy/integration/UserRegistered.java
  user-interface/pom.xml
  user-interface/src/main/java/life/qbic/datamanager/AppConfig.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/ProjectFormLayout.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/create/AddProjectDialog.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/info/ProjectLinksComponent.java
Labels: chore

#424 Adds two user error notifications when adding groups
  application-commons/src/main/java/life/qbic/application/commons/ApplicationException.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/model/experiment/ExperimentalDesign.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/experiments/experiment/ExperimentDetailsComponent.java
  user-interface/src/main/resources/messages.properties
Labels: feature

#423 Enable user to navigate within the pages of an experiment via navigation stepper
  user-interface/frontend/themes/datamanager/components/div.css
  user-interface/frontend/themes/datamanager/components/main.css
  user-interface/frontend/themes/datamanager/components/navbar.css
  user-interface/src/main/java/life/qbic/datamanager/views/navigation/ProjectSideNavigationComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/overview/ProjectOverviewPage.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/ProjectMainLayout.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/ProjectNavigationBarComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/experiments/ExperimentInformationMain.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/experiments/ExperimentMainLayout.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/experiments/ExperimentNavigationComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/info/ProjectInformationMain.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/samples/SampleContentComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/samples/SampleDetailsComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/samples/SampleInformationMain.java
Labels: feature

#427 Ensure that notification anchor after group registration always points to SampleInformationMain
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/experiments/experiment/ExperimentDetailsComponent.java
Labels: fix

#415 Improve sample registration dialog
  project-management/src/main/java/life/qbic/projectmanagement/domain/model/experiment/BiologicalReplicate.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/model/experiment/Condition.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/model/experiment/ExperimentalGroup.java
  project-management/src/test/groovy/life/qbic/projectmanagement/domain/experiment/BiologicalReplicateSpec.groovy
  user-interface/frontend/themes/datamanager/components/custom.css
  user-interface/frontend/themes/datamanager/components/dialog.css
  user-interface/frontend/themes/datamanager/components/spreadsheet.css
  user-interface/src/main/java/life/qbic/datamanager/views/TestView.java
  user-interface/src/main/java/life/qbic/datamanager/views/general/DialogWindow.java
  user-interface/src/main/java/life/qbic/datamanager/views/general/Disclaimer.java
  user-interface/src/main/java/life/qbic/datamanager/views/general/spreadsheet/Column.java
  user-interface/src/main/java/life/qbic/datamanager/views/general/spreadsheet/ColumnValidator.java
  user-interface/src/main/java/life/qbic/datamanager/views/general/spreadsheet/SelectEditor.java
  user-interface/src/main/java/life/qbic/datamanager/views/general/spreadsheet/Spreadsheet.java
  user-interface/src/main/java/life/qbic/datamanager/views/general/spreadsheet/validation/SpreadsheetCellValidator.java
  user-interface/src/main/java/life/qbic/datamanager/views/general/spreadsheet/validation/SpreadsheetObjectValidator.java
  user-interface/src/main/java/life/qbic/datamanager/views/general/spreadsheet/validation/ValidationResult.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/create/AddProjectDialog.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/edit/EditProjectInformationDialog.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/access/EditUserAccessToProjectDialog.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/experiments/experiment/components/ExperimentalGroupsDialog.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/experiments/experiment/components/ExperimentalVariablesDialog.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/experiments/experiment/create/ExperimentAddDialog.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/experiments/experiment/update/ExperimentUpdateDialog.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/samples/SampleContentComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/samples/SampleDetailsComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/samples/registration/batch/BatchInformationLayout.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/samples/registration/batch/BatchRegistrationContent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/samples/registration/batch/BatchRegistrationDialog.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/samples/registration/batch/BatchRegistrationEvent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/samples/registration/batch/MetadataType.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/samples/registration/batch/SampleRegistrationContent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/samples/registration/batch/SampleRegistrationSpreadsheet.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/samples/registration/batch/SampleSpreadsheetLayout.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/samples/registration/batch/SpreadsheetDropdownFactory.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/samples/registration/batch/SpreadsheetMethods.java
Labels: feature

#434 Query ontology database for experiment creation/editing
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/OffsetBasedRequest.java
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/ontology/OntologyTermJpaRepository.java
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/ontology/OntologyTermRepository.java
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/ontology/OntologyTermRepositoryImpl.java
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/ontology/QbicOntologyTermRepo.java
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/sample/openbis/OpenbisConnector.java
  project-management/src/main/java/life/qbic/projectmanagement/application/OntologyClassEntity.java
  project-management/src/main/java/life/qbic/projectmanagement/application/OntologyTermInformationService.java
  project-management/src/main/java/life/qbic/projectmanagement/application/api/OntologyTermLookup.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/model/Ontology.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/repository/OntologyTermRepository.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/experiments/experiment/ExperimentDetailsComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/experiments/experiment/create/ExperimentAddDialog.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/experiments/experiment/update/ExperimentUpdateDialog.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/info/ProjectInformationMain.java
Labels: feature

#432 Show batches in dedicated component
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/batch/BatchJpaRepository.java
  project-management/src/main/java/life/qbic/projectmanagement/application/batch/BatchInformationService.java
  project-management/src/main/java/life/qbic/projectmanagement/application/batch/BatchRegistrationService.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/model/batch/Batch.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/repository/BatchRepository.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/service/BatchDomainService.java
  user-interface/frontend/themes/datamanager/components/div.css
  user-interface/src/main/java/life/qbic/datamanager/views/general/spreadsheet/Column.java
  user-interface/src/main/java/life/qbic/datamanager/views/general/spreadsheet/Spreadsheet.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/samples/BatchDeletionConfirmationNotification.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/samples/BatchDetailsComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/samples/SampleContentComponent.java
Labels: feature

#436 check for datasets, only delete samples if none attached
  application-commons/src/main/java/life/qbic/application/commons/ApplicationException.java
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/batch/BatchJpaRepository.java
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/sample/QbicSampleDataRepo.java
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/sample/QbicSampleRepository.java
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/sample/SampleRepositoryImpl.java
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/sample/openbis/OpenbisConnector.java
  project-management/src/main/java/life/qbic/projectmanagement/application/DeletionService.java
  project-management/src/main/java/life/qbic/projectmanagement/application/batch/BatchRegistrationService.java
  project-management/src/main/java/life/qbic/projectmanagement/application/batch/SampleUpdateRequest.java
  project-management/src/main/java/life/qbic/projectmanagement/application/sample/SampleInformationService.java
  project-management/src/main/java/life/qbic/projectmanagement/application/sample/SampleRegistrationService.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/model/sample/Sample.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/model/sample/SampleRegistrationRequest.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/model/sample/event/BatchDeleted.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/repository/BatchRepository.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/repository/SampleRepository.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/service/BatchDomainService.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/service/SampleDomainService.java
  project-management/src/test/groovy/life/qbic/projectmanagement/domain/service/BatchDomainServiceSpec.groovy
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/samples/BatchDetailsComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/samples/SampleContentComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/samples/SampleDetailsComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/samples/registration/batch/BatchRegistrationDialog.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/samples/registration/batch/EditBatchDialog.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/samples/registration/batch/SampleBatchInformationSpreadsheet.java
  user-interface/src/main/resources/messages.properties
Labels: feature

#444 Small UI and usability changes for ontology term selection
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/ontology/OntologyTermJpaRepository.java
  project-management/src/main/java/life/qbic/projectmanagement/application/OntologyTermInformationService.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/experiments/experiment/OntologyFilterConnector.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/experiments/experiment/create/ExperimentAddDialog.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/experiments/experiment/update/ExperimentUpdateDialog.java
Labels: feature
