Repository qbicsoftware/data-manager-app, pull requests merged in 2024-03, with the labels that each got.

#509 Enable username for new user registrations
  identity-api/src/main/java/life/qbic/identity/api/UserInfo.java
  identity-api/src/main/java/life/qbic/identity/api/UserInformationService.java
  identity-infrastructure/src/main/java/life/qbic/identity/infrastructure/QbicUserRepo.java
  identity-infrastructure/src/main/java/life/qbic/identity/infrastructure/UserJpaRepository.java
  identity/src/main/java/life/qbic/identity/application/service/BasicUserInformationService.java
  identity/src/main/java/life/qbic/identity/application/user/IdentityService.java
  identity/src/main/java/life/qbic/identity/application/user/registration/RegisterUserInput.java
  identity/src/main/java/life/qbic/identity/application/user/registration/Registration.java
  identity/src/main/java/life/qbic/identity/application/user/registration/UserRegistrationException.java
  identity/src/main/java/life/qbic/identity/domain/model/User.java
  identity/src/main/java/life/qbic/identity/domain/repository/UserDataStorage.java
  identity/src/main/java/life/qbic/identity/domain/repository/UserRepository.java
  identity/src/main/java/life/qbic/identity/domain/service/UserDomainService.java
  identity/src/test/groovy/life/qbic/identity/domain/user/UserSpec.groovy
  identity/src/test/groovy/life/qbic/identity/domain/usermanagement/registration/RegistrationSpec.groovy
  identity/src/test/groovy/life/qbic/identity/domain/usermanagement/repository/UserRepositorySpec.groovy
  user-interface/src/main/java/life/qbic/datamanager/views/register/UserRegistrationHandler.java
  user-interface/src/main/java/life/qbic/datamanager/views/register/UserRegistrationLayout.java
Labels: feature

#512 Show ontologies in project summary and add/edit experiment
  user-interface/frontend/themes/datamanager/components/div.css
  user-interface/frontend/themes/datamanager/components/page-area.css
  user-interface/src/main/java/life/qbic/datamanager/views/projects/create/OntologyComboboxFactory.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/info/ProjectDetailsComponent.java
Labels: feature

#511 Enable sample pool groups in proteomics measurements
  pom.xml
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/experiment/measurement/MeasurementLookupImplementation.java
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/experiment/measurement/MeasurementRepositoryImplementation.java
  project-management/src/main/java/life/qbic/projectmanagement/application/measurement/MeasurementMetadata.java
  project-management/src/main/java/life/qbic/projectmanagement/application/measurement/MeasurementRegistrationRequest.java
  project-management/src/main/java/life/qbic/projectmanagement/application/measurement/MeasurementService.java
  project-management/src/main/java/life/qbic/projectmanagement/application/measurement/ProteomicsMeasurementMetadata.java
  project-management/src/main/java/life/qbic/projectmanagement/application/measurement/validation/ProteomicsValidator.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/model/measurement/MeasurementCode.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/model/measurement/NGSMeasurement.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/model/measurement/ProteomicsLabeling.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/model/measurement/ProteomicsMeasurement.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/model/measurement/ProteomicsMethodMetadata.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/model/measurement/ProteomicsSamplePreparation.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/service/MeasurementDomainService.java
  project-management/src/test/groovy/life/qbic/projectmanagement/application/measurement/validation/ProteomicsValidatorSpec.groovy
  user-interface/frontend/themes/datamanager/components/page-area.css
  user-interface/pom.xml
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/measurements/MeasurementDetailsComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/measurements/MeasurementMain.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/measurements/MeasurementMetadataUploadDialog.java
  user-interface/src/main/resources/icons/ROR_logo.svg
  user-interface/src/main/resources/templates/proteomics_measurement_registration_sheet.xlsx
Labels: feature

#516 Propagate to user if a project with the provided code already exists during project creation
  project-management/src/main/java/life/qbic/projectmanagement/application/ProjectCreationService.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/service/ProjectDomainService.java
  project-management/src/test/groovy/life/qbic/projectmanagement/application/ProjectCreationServiceSpec.groovy
Labels: fix

#519 Provide default value for fraction
  project-management/src/main/java/life/qbic/projectmanagement/domain/model/measurement/ProteomicsMeasurement.java
Labels: fix

#514 Improve UI for ontology search and access token generation
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/ontology/OntologyTermRepository.java
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/ontology/OntologyTermRepositoryJpaInterface.java
  project-management/src/main/java/life/qbic/projectmanagement/application/ontology/OntologyLookupInterface.java
  project-management/src/main/java/life/qbic/projectmanagement/application/ontology/OntologyLookupService.java
  user-interface/frontend/themes/datamanager/components/page-area.css
  user-interface/src/main/java/life/qbic/datamanager/views/account/PersonalAccessTokenComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/ontology/OntologyLookupComponent.java
Labels: feature

#510 Use openbis 20.10.x
  project-management-infrastructure/pom.xml
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/sample/QbicSampleDataRepo.java
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/sample/SampleRepositoryImpl.java
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/sample/openbis/AnalyteTermMapper.java
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/sample/openbis/OpenbisConnector.java
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/sample/openbis/OpenbisSessionFactory.java
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/sample/translation/SimpleOpenBisTermMapper.java
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/sample/translation/VocabularyCode.java
Labels: feature

#521 When granting project access only disclose username
  identity/src/main/java/life/qbic/identity/application/user/IdentityService.java
  identity/src/main/java/life/qbic/identity/application/user/registration/Registration.java
  identity/src/main/java/life/qbic/identity/application/user/registration/UserRegistrationException.java
  project-management/src/main/java/life/qbic/projectmanagement/application/authorization/acl/ProjectAccessService.java
  project-management/src/main/java/life/qbic/projectmanagement/application/authorization/acl/ProjectAccessServiceImpl.java
  project-management/src/main/java/life/qbic/projectmanagement/application/policy/directive/InformUsersAboutBatchRegistration.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/access/EditUserAccessToProjectDialog.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/access/ProjectAccessComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/register/UserRegistrationHandler.java
  user-interface/src/main/java/life/qbic/datamanager/views/register/UserRegistrationLayout.java
Labels: feature

#524 Correct links to the datamanager in emails to users
  user-interface/src/main/java/life/qbic/datamanager/DataManagerContextProvider.java
Labels: fix

#523 Allow distinct label information in proteomics measurements
  project-management/src/main/java/life/qbic/projectmanagement/application/measurement/Labeling.java
  project-management/src/main/java/life/qbic/projectmanagement/application/measurement/MeasurementService.java
  project-management/src/main/java/life/qbic/projectmanagement/application/measurement/ProteomicsMeasurementMetadata.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/model/measurement/ProteomicsLabeling.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/model/measurement/ProteomicsMeasurement.java
  project-management/src/test/groovy/life/qbic/projectmanagement/application/measurement/validation/ProteomicsValidatorSpec.groovy
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/measurements/MeasurementMetadataUploadDialog.java
Labels: feature

#528 Bump Spring Boot from 3.1.5 -> 3.2.3
  pom.xml
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/experiment/measurement/MeasurementLookupImplementation.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/samples/registration/batch/EditBatchDialog.java
Labels: fix, dependencies

#527 Generalize upload measurement dialog to handle edit and register measurements
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/experiment/measurement/MeasurementLookupImplementation.java
  project-management/src/main/java/life/qbic/projectmanagement/application/measurement/MeasurementService.java
  project-management/src/main/java/life/qbic/projectmanagement/application/measurement/validation/MeasurementNGSValidator.java
  project-management/src/main/java/life/qbic/projectmanagement/application/measurement/validation/MeasurementProteomicsValidator.java
  project-management/src/main/java/life/qbic/projectmanagement/application/measurement/validation/MeasurementValidationService.java
  project-management/src/main/java/life/qbic/projectmanagement/application/measurement/validation/MeasurementValidator.java
  project-management/src/main/java/life/qbic/projectmanagement/application/measurement/validation/ValidationResult.java
  project-management/src/main/java/life/qbic/projectmanagement/application/measurement/validation/Validator.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/model/measurement/ProteomicsMeasurement.java
  project-management/src/test/groovy/life/qbic/projectmanagement/application/measurement/validation/MeasurementNGSValidatorSpec.groovy
  project-management/src/test/groovy/life/qbic/projectmanagement/application/measurement/validation/MeasurementProteomicsValidatorSpec.groovy
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/measurements/MeasurementDetailsComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/measurements/MeasurementMain.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/measurements/MeasurementMetadataUploadDialog.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/measurements/MeasurementNGSValidationExecutor.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/measurements/MeasurementProteomicsValidationExecutor.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/measurements/MeasurementValidationExecutor.java
Labels: feature

#530 Adds the project id to measurements
  project-management/src/main/java/life/qbic/projectmanagement/application/measurement/MeasurementService.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/model/measurement/NGSMeasurement.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/model/measurement/ProteomicsMeasurement.java
Labels: feature
