Repository qbicsoftware/data-manager-app, pull requests merged in 2024-02, with the labels that each got.

#478 Fixes JPA experiment column creation
  project-management/src/main/java/life/qbic/projectmanagement/domain/model/experiment/Experiment.java
Labels: fix

#479 Highlight and provide Linkage to Onthology Class Iri
  user-interface/frontend/themes/datamanager/components/div.css
  user-interface/frontend/themes/datamanager/components/page-area.css
  user-interface/frontend/themes/datamanager/components/span.css
  user-interface/frontend/themes/datamanager/components/vaadin-custom.css
  user-interface/src/main/java/life/qbic/datamanager/views/general/OntologyComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/experiments/experiment/ExperimentDetailsComponent.java
Labels: feature

#475 sort samples in batch-edit by sample code
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/samples/SampleInformationMain.java
Labels: fix

#480 Allow download of sample metadata sheet
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/sample/SamplePreviewJpaRepository.java
  project-management/src/main/java/life/qbic/projectmanagement/application/ExperimentInformationService.java
  project-management/src/main/java/life/qbic/projectmanagement/application/sample/SampleInformationService.java
  project-management/src/main/java/life/qbic/projectmanagement/application/sample/SamplePreviewLookup.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/model/experiment/Condition.java
  project-management/src/test/groovy/life/qbic/projectmanagement/application/ExperimentInformationServiceSpec.groovy
  user-interface/src/main/java/life/qbic/datamanager/views/general/download/DownloadContentProvider.java
  user-interface/src/main/java/life/qbic/datamanager/views/general/download/DownloadProvider.java
  user-interface/src/main/java/life/qbic/datamanager/views/general/download/OfferDownload.java
  user-interface/src/main/java/life/qbic/datamanager/views/general/download/TSVBuilder.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/experiments/experiment/components/ExperimentalGroupsDialog.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/info/ProjectInformationMain.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/samples/SampleDetailsComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/samples/SampleMetadataContentProvider.java
Labels: feature

#481 Show existing groups in add dialog
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/experiments/experiment/ExperimentDetailsComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/experiments/experiment/ExperimentalGroupInput.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/experiments/experiment/components/ExperimentalGroupsDialog.java
Labels: feature

#487 Delete pat by tokenId instead of userId
  identity/src/main/java/life/qbic/identity/application/token/PersonalAccessTokenServiceImpl.java
Labels: fix

#485 Enable the user to add sample QC report files to a project with optional linkage to a specified experiment
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/sample/qualitycontrol/QualityControlJpa.java
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/sample/qualitycontrol/QualityControlStore.java
  project-management/src/main/java/life/qbic/projectmanagement/application/sample/qualitycontrol/QualityControlReport.java
  project-management/src/main/java/life/qbic/projectmanagement/application/sample/qualitycontrol/QualityControlService.java
  project-management/src/main/java/life/qbic/projectmanagement/application/sample/qualitycontrol/QualityControlStorage.java
  project-management/src/main/java/life/qbic/projectmanagement/application/sample/qualitycontrol/QualityControlStorageException.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/model/sample/qualitycontrol/QualityControl.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/model/sample/qualitycontrol/QualityControlUpload.java
  user-interface/frontend/themes/datamanager/components/custom.css
  user-interface/frontend/themes/datamanager/components/dialog.css
  user-interface/frontend/themes/datamanager/components/main.css
  user-interface/frontend/themes/datamanager/components/offer-list.css
  user-interface/frontend/themes/datamanager/components/page-area.css
  user-interface/frontend/themes/datamanager/components/virtuallist.css
  user-interface/src/main/java/life/qbic/datamanager/views/general/download/QualityControlDownload.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/EditableMultiFileMemoryBuffer.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/info/OfferListComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/info/ProjectInformationMain.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/info/QualityControlListComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/purchase/UploadPurchaseDialog.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/qualityControl/QualityControlItem.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/qualityControl/UploadQualityControlDialog.java
Labels: feature

#488 User is able to select the personal access token page via a new user menu
  project-management/src/main/java/life/qbic/projectmanagement/application/authorization/QbicUserDetails.java
  user-interface/frontend/themes/datamanager/components/navbar.css
  user-interface/src/main/java/life/qbic/datamanager/views/DataManagerLayout.java
  user-interface/src/main/java/life/qbic/datamanager/views/MainHandler.java
  user-interface/src/main/java/life/qbic/datamanager/views/MainHandlerInterface.java
  user-interface/src/main/java/life/qbic/datamanager/views/MainLayout.java
  user-interface/src/main/java/life/qbic/datamanager/views/MainPage.java
  user-interface/src/main/java/life/qbic/datamanager/views/UserMainLayout.java
  user-interface/src/main/java/life/qbic/datamanager/views/account/PersonalAccessTokenMain.java
  user-interface/src/main/java/life/qbic/datamanager/views/general/DataManagerMenu.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/overview/ProjectOverviewMain.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/ProjectMainLayout.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/experiments/ExperimentMainLayout.java
Labels: feature

#493 User is able to access Measurement page and download their template of interest
  user-interface/frontend/themes/datamanager/components/main.css
  user-interface/frontend/themes/datamanager/components/virtuallist.css
  user-interface/src/main/java/life/qbic/datamanager/templates/MSMeasurementTemplate.java
  user-interface/src/main/java/life/qbic/datamanager/templates/NGSMeasurementTemplate.java
  user-interface/src/main/java/life/qbic/datamanager/templates/Template.java
  user-interface/src/main/java/life/qbic/datamanager/templates/TemplateDownloadFactory.java
  user-interface/src/main/java/life/qbic/datamanager/views/general/download/MeasurementTemplateDownload.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/experiments/ExperimentNavigationComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/measurements/MeasurementMain.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/measurements/MeasurementTemplateListComponent.java
  user-interface/src/main/resources/templates/ms_measurement_registration_sheet.xlsx
  user-interface/src/main/resources/templates/ngs_measurement_registration_sheet.xlsx
Labels: feature

#494 Sort quality controls in QualityControlListComponent
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/info/QualityControlListComponent.java
Labels: feature

#497 hide offer search from anyone but admin and project-manager
  finances-infrastructure/pom.xml
  finances-infrastructure/src/main/java/life/qbic/finance/infrastructure/SimpleOfferSearchService.java
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/project/ProjectRepositoryImpl.java
  user-interface/pom.xml
  user-interface/src/main/java/life/qbic/datamanager/views/projects/create/AddProjectDialog.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/create/ProjectDesignLayout.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/overview/ProjectOverviewMain.java
Labels: feature

#499 Ask for confirmation on delete of several items
  user-interface/src/main/java/life/qbic/datamanager/views/account/AccessTokenDeletionConfirmationNotification.java
  user-interface/src/main/java/life/qbic/datamanager/views/account/PersonalAccessTokenMain.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/info/ProjectInformationMain.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/samples/BatchDeletionConfirmationNotification.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/purchase/PurchaseItemDeletionConfirmationNotification.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/qualityControl/QCItemDeletionConfirmationNotification.java
Labels: feature

#498 allow users to edit access to their projects
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/project/ProjectRepositoryImpl.java
  user-interface/src/main/java/life/qbic/datamanager/security/UserPermissionsImpl.java
  user-interface/src/main/java/life/qbic/datamanager/views/navigation/ProjectSideNavigationComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/ProjectMainLayout.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/experiments/ExperimentMainLayout.java
Labels: feature

#495 Set spring properties to allow 16MB (Medium BLOB size) uploads
  user-interface/src/main/java/life/qbic/datamanager/views/projects/purchase/UploadPurchaseDialog.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/qualityControl/UploadQualityControlDialog.java
  user-interface/src/main/resources/application.properties
Labels: feature

#500 Allow User to lookup all possible Ontologyterms
  user-interface/frontend/themes/datamanager/components/main.css
  user-interface/frontend/themes/datamanager/components/page-area.css
  user-interface/frontend/themes/datamanager/components/span.css
  user-interface/src/main/java/life/qbic/datamanager/views/AppRoutes.java
  user-interface/src/main/java/life/qbic/datamanager/views/account/PersonalAccessTokenMain.java
  user-interface/src/main/java/life/qbic/datamanager/views/navigation/ProjectSideNavigationComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/create/ProjectDesignLayout.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/overview/ProjectOverviewMain.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/info/ProjectInformationMain.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/ontology/OntologyLookupComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/ontology/OntologyLookupMainComponent.java
Labels: feature

#503 Fix snapshot build
  .github/workflows/nexus-publish-snapshots.yml
Labels: chore

#504 Fix snapshot deployment
  .github/workflows/nexus-publish-snapshots.yml
Labels: chore

#501 Feature/dm 407 provide UI for sample measurement information
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/experiment/measurement/MeasurementLookupImplementation.java
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/experiment/measurement/MeasurementRepositoryImplementation.java
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/experiment/measurement/NGSMeasurementJpaRepo.java
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/experiment/measurement/ProteomicsMeasurementJpaRepo.java
  project-management/src/main/java/life/qbic/projectmanagement/application/measurement/MeasurementLookup.java
  project-management/src/main/java/life/qbic/projectmanagement/application/measurement/MeasurementLookupService.java
  project-management/src/main/java/life/qbic/projectmanagement/application/measurement/MeasurementService.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/model/measurement/NGSMeasurement.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/model/measurement/ProteomicsMeasurement.java
  user-interface/frontend/themes/datamanager/components/icon.css
  user-interface/frontend/themes/datamanager/components/main.css
  user-interface/frontend/themes/datamanager/components/page-area.css
  user-interface/frontend/themes/datamanager/components/span.css
  user-interface/src/main/java/life/qbic/datamanager/views/general/InfoBox.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/measurements/MeasurementDetailsComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/measurements/MeasurementMain.java
Labels: feature
