Repository qbicsoftware/data-manager-app, pull requests merged in 2024-06, with the labels that each got.

#585 Enable download of URL file
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/rawdata/RawDataMain.java
Labels: fix

#586 Show human readable error message on measurement registration
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/measurements/MeasurementMain.java
Labels: fix

#588 Provide UTF-16 support for measurement metadata
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/measurements/MeasurementMetadataUploadDialog.java
Labels: feature

#591 sort spreadsheet by measurement code and sample code
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/measurements/MeasurementMain.java
Labels: feature

#589 Add asterix for all required properties in sample batch dialog
  user-interface/src/main/java/life/qbic/datamanager/views/general/spreadsheet/Column.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/samples/registration/batch/SampleBatchInformationSpreadsheet.java
Labels: feature

#583 Provide more icons for species and specimen
  project-management/src/main/java/life/qbic/projectmanagement/application/AddExperimentToProjectService.java
  project-management/src/main/java/life/qbic/projectmanagement/application/experiment/ExperimentInformationService.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/model/experiment/Experiment.java
  project-management/src/test/groovy/life/qbic/projectmanagement/application/AddExperimentToProjectServiceSpec.groovy
  user-interface/frontend/themes/datamanager/components/dialog.css
  user-interface/src/main/java/life/qbic/datamanager/views/navigation/ProjectSideNavigationComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/create/BioIconComboboxFactory.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/create/ExperimentalInformationLayout.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/create/OntologyComboboxFactory.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/overview/ProjectOverviewMain.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/experiments/experiment/ExperimentDetailsComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/experiments/experiment/create/AddExperimentDialog.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/experiments/experiment/update/EditExperimentDialog.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/info/ProjectInformationMain.java
  user-interface/src/main/resources/icons/bacteria.svg
  user-interface/src/main/resources/icons/heart.svg
  user-interface/src/main/resources/icons/kidneys.svg
  user-interface/src/main/resources/icons/leaf.svg
  user-interface/src/main/resources/icons/liver.svg
  user-interface/src/main/resources/icons/mouse.svg
  user-interface/src/main/resources/icons/mushroom.svg
  user-interface/src/main/resources/icons/plant.svg
Labels: feature

#593 add column definitions for experiment icons
  project-management/src/main/java/life/qbic/projectmanagement/domain/model/experiment/Experiment.java
Labels: fix

#594 Change text "ID" to "Project ID"
  user-interface/src/main/java/life/qbic/datamanager/views/projects/create/ProjectDesignLayout.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/info/ProjectDetailsComponent.java
Labels: feature

#592 Enable pooled sample measurement for NGS
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/experiment/measurement/MeasurementLookupImplementation.java
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/experiment/measurement/MeasurementRepositoryImplementation.java
  project-management/src/main/java/life/qbic/projectmanagement/application/dataset/RawDataService.java
  project-management/src/main/java/life/qbic/projectmanagement/application/measurement/MeasurementService.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/model/measurement/NGSIndex.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/model/measurement/NGSMeasurement.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/model/measurement/NGSMethodMetadata.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/model/measurement/NGSSpecificMeasurementMetadata.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/repository/MeasurementRepository.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/service/MeasurementDomainService.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/measurements/MeasurementDetailsComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/measurements/MeasurementMain.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/measurements/MeasurementMetadataUploadDialog.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/measurements/MeasurementPresenter.java
Labels: feature

#587 Refactor project access UI according to prototype
  project-management/src/main/java/life/qbic/projectmanagement/application/authorization/acl/ProjectAccessService.java
  user-interface/frontend/themes/datamanager/components/dialog.css
  user-interface/frontend/themes/datamanager/components/main.css
  user-interface/frontend/themes/datamanager/components/page-area.css
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/access/AddCollaboratorToProjectDialog.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/access/ProjectAccessComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/access/ProjectAccessMain.java
Labels: chore

#576 Separate Spring Datasources
  project-management/src/main/java/life/qbic/projectmanagement/application/ontology/OntologyClass.java
  sql/modify-ontology-table-engine.sql
  sql/project_measurements_view.sql
  sql/project_overview.sql
  sql/project_usernames_view.sql
  sql/setup-acl.sql
  sql/setup-roles.sql
  user-interface/pom.xml
  user-interface/src/main/java/life/qbic/datamanager/Application.java
  user-interface/src/main/java/life/qbic/datamanager/configuration/DataManagementDatasourceConfig.java
  user-interface/src/main/java/life/qbic/datamanager/configuration/DefaultDatasourceConfig.java
  user-interface/src/main/java/life/qbic/datamanager/configuration/FinancingDatasourceConfig.java
  user-interface/src/main/java/life/qbic/datamanager/security/AclSecurityConfiguration.java
  user-interface/src/main/resources/META-INF/additional-spring-configuration-metadata.json
  user-interface/src/main/resources/application.properties
Labels: feature

#597 Make ddl configurable
  user-interface/src/main/resources/application.properties
Labels: fix

#575 The application provides a footer for all views in which the user can navigate to the relevant sites
  application-commons/src/main/java/life/qbic/application/commons/ApplicationException.java
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/project/ProjectRepositoryImpl.java
  project-management/src/main/java/life/qbic/projectmanagement/application/dataset/RawDataService.java
  project-management/src/main/java/life/qbic/projectmanagement/application/experiment/ExperimentInformationService.java
  project-management/src/main/java/life/qbic/projectmanagement/application/measurement/MeasurementMetadata.java
  project-management/src/main/java/life/qbic/projectmanagement/application/measurement/NGSMeasurementMetadata.java
  project-management/src/main/java/life/qbic/projectmanagement/application/measurement/validation/MeasurementValidationService.java
  project-management/src/main/java/life/qbic/projectmanagement/application/policy/directive/InformUsersAboutBatchRegistration.java
  project-management/src/main/java/life/qbic/projectmanagement/application/purchase/ProjectPurchaseService.java
  project-management/src/main/java/life/qbic/projectmanagement/application/sample/SampleRegistrationService.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/model/experiment/Experiment.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/model/experiment/ExperimentalGroup.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/model/measurement/NGSIndex.java
  user-interface/frontend/themes/datamanager/components/card.css
  user-interface/frontend/themes/datamanager/components/div.css
  user-interface/frontend/themes/datamanager/components/main.css
  user-interface/frontend/themes/datamanager/components/navbar.css
  user-interface/frontend/themes/datamanager/components/span.css
  user-interface/frontend/themes/datamanager/components/vaadin-custom.css
  user-interface/src/main/java/life/qbic/datamanager/AsyncConfig.java
  user-interface/src/main/java/life/qbic/datamanager/views/DataManagerLayout.java
  user-interface/src/main/java/life/qbic/datamanager/views/UserMainLayout.java
  user-interface/src/main/java/life/qbic/datamanager/views/account/UserProfileComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/general/footer/FooterComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/general/footer/LegalNotice.java
  user-interface/src/main/java/life/qbic/datamanager/views/general/footer/PrivacyAgreement.java
  user-interface/src/main/java/life/qbic/datamanager/views/landing/LandingPageLayout.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/ProjectMainLayout.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/experiments/ExperimentMainLayout.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/experiments/experiment/ExperimentDetailsComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/experiments/experiment/update/EditExperimentDialog.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/info/ProjectDetailsComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/measurements/MeasurementMetadataUploadDialog.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/measurements/MeasurementPresenter.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/samples/SampleInformationMain.java
  user-interface/src/main/resources/icons/bacteria.svg
  user-interface/src/main/resources/icons/heart.svg
  user-interface/src/main/resources/icons/kidneys.svg
  user-interface/src/main/resources/icons/leaf.svg
  user-interface/src/main/resources/icons/liver.svg
  user-interface/src/main/resources/icons/mouse.svg
  user-interface/src/main/resources/icons/mushroom.svg
  user-interface/src/main/resources/icons/plant.svg
  user-interface/src/main/resources/impressum/LegalNotice.html
  user-interface/src/main/resources/impressum/PrivacyAgreement.html
Labels: feature

#598 update download information
  user-interface/src/main/java/life/qbic/datamanager/views/general/CodeBlock.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/rawdata/RawDataDownloadInformationComponent.java
Labels: feature

#599 Minor UI updates
  user-interface/frontend/themes/datamanager/components/page-area.css
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/measurements/MeasurementDetailsComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/rawdata/RawDataDetailsComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/samples/BatchDetailsComponent.java
Labels: fix

#596 Display project id (5-letter) in experiment navigation header
  user-interface/frontend/themes/datamanager/components/icon.css
  user-interface/frontend/themes/datamanager/components/navbar.css
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/ProjectMainLayout.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/experiments/ExperimentMainLayout.java
Labels: feature

#604 Add SQL script to modify ontology_classes table
  sql/modify-ontology-table-engine.sql
  sql/modify-ontology-table.sql
Labels: chore

#602 Increase size of stored offers
  project-management/src/main/java/life/qbic/projectmanagement/domain/model/project/purchase/Offer.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/model/sample/qualitycontrol/QualityControlUpload.java
Labels: fix

#603 Fix Project Overview entity
  project-management/src/main/java/life/qbic/projectmanagement/application/ProjectOverview.java
Labels: fix

#605 Set column types for sample origin
  project-management/src/main/java/life/qbic/projectmanagement/domain/model/sample/SampleOrigin.java
Labels: fix

#607 Extend license note for University of Tübingen logo
  README.md
Labels: fix

#601 Show the University Tübingen Logo and a background image for all landing page layouts
  user-interface/frontend/themes/datamanager/components/main.css
  user-interface/frontend/themes/datamanager/components/navbar.css
  user-interface/src/main/java/life/qbic/datamanager/views/LandingPageTitleAndLogo.java
  user-interface/src/main/java/life/qbic/datamanager/views/landing/LandingPageLayout.java
  user-interface/src/main/java/life/qbic/datamanager/views/login/LoginLayout.java
  user-interface/src/main/java/life/qbic/datamanager/views/login/passwordreset/ResetPasswordLayout.java
  user-interface/src/main/java/life/qbic/datamanager/views/register/UserRegistrationLayout.java
  user-interface/src/main/resources/login/university-tuebingen-logo.svg
Labels: chore

#609 Fix/collaborator user names filtering
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/project/ProjectOverviewLookupImplementation.java
  project-management/src/main/java/life/qbic/projectmanagement/application/CollaboratorUserNamesConverter.java
Labels: fix

#622 Ensures proper transactional roleback on failed datasource task
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/project/ProjectRepositoryImpl.java
Labels: fix

#621 Increase objective length
  project-management/src/main/java/life/qbic/projectmanagement/domain/model/project/ProjectIntent.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/model/project/ProjectObjective.java
Labels: fix

#613 Download sample information in XLSX format
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/measurements/MeasurementMain.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/measurements/download/NGSMeasurementContentProvider.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/measurements/download/ProteomicsMeasurementContentProvider.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/samples/SampleDetailsComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/samples/download/SampleInformationXLSXProvider.java
Labels: feature

#626 Rename terminology of privacy agreement to data privacy agreement
  user-interface/frontend/themes/datamanager/components/main.css
  user-interface/src/main/java/life/qbic/datamanager/views/general/footer/DataPrivacyAgreement.java
  user-interface/src/main/java/life/qbic/datamanager/views/general/footer/FooterComponent.java
  user-interface/src/main/resources/impressum/DataPrivacyAgreement.html
Labels: feature

#627 EKUT image links to EKUT Landing page
  user-interface/frontend/themes/datamanager/components/custom.css
  user-interface/frontend/themes/datamanager/components/image.css
  user-interface/src/main/java/life/qbic/datamanager/views/LandingPageTitleAndLogo.java
Labels: feature

#625 The user is informed during project creation if a provided projectcode is not unique
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/project/ProjectRepositoryImpl.java
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/project/QbicProjectRepo.java
  project-management/src/main/java/life/qbic/projectmanagement/application/ProjectInformationService.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/repository/ProjectRepository.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/create/AddProjectDialog.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/create/ProjectDesignLayout.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/overview/ProjectOverviewMain.java
Labels: feature

#630 Reference API and contact in the footer
  user-interface/src/main/java/life/qbic/datamanager/views/DataManagerLayout.java
  user-interface/src/main/java/life/qbic/datamanager/views/UserMainLayout.java
  user-interface/src/main/java/life/qbic/datamanager/views/general/footer/FooterComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/landing/LandingPageLayout.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/ProjectMainLayout.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/experiments/ExperimentMainLayout.java
  user-interface/src/main/resources/application.properties
Labels: feature

#631 Remove duplicate error message
  user-interface/src/main/java/life/qbic/datamanager/views/general/HasBinderValidation.java
  user-interface/src/main/java/life/qbic/datamanager/views/general/contact/AutocompleteContactField.java
Labels: feature

#633 Add a prefill row for every replicate in an experimental group.
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/samples/registration/batch/BatchRegistrationDialog.java
Labels: feature

#634 Add a prefill row for every replicate in an experimental group. (#633)
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/samples/registration/batch/BatchRegistrationDialog.java
Labels: fix

#635 Remove duplicate error message (#631)
  user-interface/src/main/java/life/qbic/datamanager/views/general/HasBinderValidation.java
  user-interface/src/main/java/life/qbic/datamanager/views/general/contact/AutocompleteContactField.java
Labels: fix

#632 improve UX for ontology search
  user-interface/frontend/themes/datamanager/components/vaadin-custom.css
  user-interface/src/main/java/life/qbic/datamanager/views/projects/create/OntologyComboboxFactory.java
Labels: feature

#614 Provide a default profile picture
  identity-api/src/main/java/life/qbic/identity/api/UserInfo.java
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/project/ProjectOverviewLookupImplementation.java
  project-management/src/main/java/life/qbic/projectmanagement/application/CollaboratorUserInfosConverter.java
  project-management/src/main/java/life/qbic/projectmanagement/application/CommaSeparatedStringListConverter.java
  project-management/src/main/java/life/qbic/projectmanagement/application/ProjectOverview.java
  sql/project_overview.sql
  sql/project_usernames_view.sql
  sql/setup-views.sql
  user-interface/frontend/themes/datamanager/components/custom.css
  user-interface/frontend/themes/datamanager/components/page-area.css
  user-interface/src/main/java/life/qbic/datamanager/views/account/UserAvatar.java
  user-interface/src/main/java/life/qbic/datamanager/views/account/UserProfileComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/account/UserProfileMain.java
  user-interface/src/main/java/life/qbic/datamanager/views/general/DataManagerMenu.java
  user-interface/src/main/java/life/qbic/datamanager/views/identicon/IdenticonGenerator.java
  user-interface/src/main/java/life/qbic/datamanager/views/identicon/SvgBuilder.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/overview/components/ProjectCollectionComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/access/AddCollaboratorToProjectDialog.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/access/ProjectAccessComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/access/UserAvatarWithNameComponent.java
  user-interface/src/test/groovy/life/qbic/datamanager/views/identicon/IdenticonGeneratorSpec.groovy
Labels: feature

#638 Remove duplicate flowcell column in NGS measurements
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/measurements/MeasurementDetailsComponent.java
Labels: fix

#595 Add item count for grids
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/experiment/measurement/MeasurementLookupImplementation.java
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/sample/openbis/OpenbisConnector.java
  project-management/src/main/java/life/qbic/projectmanagement/application/dataset/RawDataLookup.java
  project-management/src/main/java/life/qbic/projectmanagement/application/dataset/RawDataLookupService.java
  project-management/src/main/java/life/qbic/projectmanagement/application/dataset/RawDataService.java
  project-management/src/main/java/life/qbic/projectmanagement/application/measurement/MeasurementService.java
  user-interface/src/main/java/life/qbic/datamanager/views/general/MultiSelectLazyLoadingGrid.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/create/OntologyComboboxFactory.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/measurements/MeasurementDetailsComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/rawdata/RawDataDetailsComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/samples/SampleDetailsComponent.java
Labels: feature

#643 Extending project code to avoid collisions with legacy QBiC project codes
  project-management-infrastructure/src/test/groovy/life/qbic/projectmanagement/infrastructure/sample/SampleCodeJpaRepositorySpec.groovy
  project-management/src/main/java/life/qbic/projectmanagement/domain/model/project/ProjectCode.java
  project-management/src/test/groovy/life/qbic/projectmanagement/application/ProjectCreationServiceSpec.groovy
  project-management/src/test/groovy/life/qbic/projectmanagement/domain/ProjectCodeSpec.groovy
  user-interface/src/main/java/life/qbic/datamanager/views/projects/create/ProjectDesignLayout.java
Labels: feature

#644 Show full name on profile page
  user-interface/src/main/java/life/qbic/datamanager/views/account/UserProfileComponent.java
Labels: fix

#637 Login Sites have the desired background image
  user-interface/frontend/themes/datamanager/components/main.css
  user-interface/src/main/resources/META-INF/resources/images/background-mesh-bottom-left.png
  user-interface/src/main/resources/impressum/LegalNotice.html
Labels: feature

#647 Addresses registration side effects observed on simultanous clients login
  identity/src/main/java/life/qbic/identity/application/user/registration/Registration.java
  identity/src/test/groovy/life/qbic/identity/domain/usermanagement/registration/RegistrationSpec.groovy
  user-interface/src/main/java/life/qbic/datamanager/AppConfig.java
  user-interface/src/main/java/life/qbic/datamanager/views/register/UserRegistrationHandler.java
  user-interface/src/main/java/life/qbic/datamanager/views/register/UserRegistrationHandlerInterface.java
  user-interface/src/main/java/life/qbic/datamanager/views/register/UserRegistrationLayout.java
Labels: fix

#653 Users are linked correctly to the current documentation in the data manager application
  user-interface/src/main/java/life/qbic/datamanager/views/account/PersonalAccessTokenComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/overview/ProjectOverviewMain.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/rawdata/RawDataDownloadInformationComponent.java
  user-interface/src/main/resources/META-INF/additional-spring-configuration-metadata.json
  user-interface/src/main/resources/application.properties
Labels: fix
