Repository qbicsoftware/data-manager-app, pull requests merged in 2024-04, with the labels that each got.

#532 Change token generation to use the same application salt for faster lookup
  identity-api/src/main/java/life/qbic/identity/api/PersonalAccessTokenService.java
  identity/src/main/java/life/qbic/identity/application/token/PersonalAccessTokenServiceImpl.java
  identity/src/main/java/life/qbic/identity/domain/model/PasswordEncryptionPolicy.java
  identity/src/main/java/life/qbic/identity/domain/model/token/PersonalAccessToken.java
  identity/src/main/java/life/qbic/identity/domain/model/token/PersonalAccessTokenEncoder.java
  identity/src/main/java/life/qbic/identity/domain/model/token/TokenGenerator.java
  identity/src/test/groovy/life/qbic/identity/domain/model/token/PersonalAccessTokenEncoderSpec.groovy
  identity/src/test/groovy/life/qbic/identity/domain/model/token/PersonalAccessTokenSpec.groovy
  user-interface/src/main/java/life/qbic/datamanager/AppConfig.java
  user-interface/src/main/java/life/qbic/datamanager/views/account/AddPersonalAccessTokenDialog.java
  user-interface/src/main/java/life/qbic/datamanager/views/account/PersonalAccessTokenComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/account/PersonalAccessTokenMain.java
  user-interface/src/main/resources/META-INF/additional-spring-configuration-metadata.json
  user-interface/src/main/resources/application.properties
Labels: feature

#534 Fix vagueness + issue when copying ontology curie
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/ontology/OntologyLookupComponent.java
Labels: fix

#536 Use 'ID' instead of 'Code' in the UI
  project-management/src/main/java/life/qbic/projectmanagement/application/measurement/validation/MeasurementNGSValidator.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/model/project/ProjectCode.java
  project-management/src/test/groovy/life/qbic/projectmanagement/application/measurement/validation/MeasurementNGSValidatorSpec.groovy
  user-interface/src/main/java/life/qbic/datamanager/views/projects/create/ProjectDesignLayout.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/overview/components/ProjectCollectionComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/info/ProjectDetailsComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/measurements/MeasurementDetailsComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/samples/SampleDetailsComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/samples/registration/batch/SampleBatchInformationSpreadsheet.java
  user-interface/src/main/resources/templates/ngs_measurement_registration_sheet.xlsx
Labels: feature

#531 User is able to register NGS Measurements in the data manager application
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/CachedOrganisationRepository.java
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/experiment/measurement/MeasurementLookupImplementation.java
  project-management/src/main/java/life/qbic/projectmanagement/application/measurement/MeasurementService.java
  project-management/src/main/java/life/qbic/projectmanagement/application/measurement/NGSMeasurementMetadata.java
  project-management/src/main/java/life/qbic/projectmanagement/application/measurement/validation/MeasurementNGSValidator.java
  project-management/src/main/java/life/qbic/projectmanagement/application/measurement/validation/MeasurementProteomicsValidator.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/model/measurement/NGSMeasurement.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/model/measurement/NGSMethodMetadata.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/model/measurement/ProteomicsMeasurement.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/model/sample/Sample.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/service/MeasurementDomainService.java
  project-management/src/test/groovy/life/qbic/projectmanagement/application/measurement/validation/MeasurementNGSValidatorSpec.groovy
  project-management/src/test/groovy/life/qbic/projectmanagement/application/measurement/validation/MeasurementProteomicsValidatorSpec.groovy
  user-interface/frontend/themes/datamanager/components/page-area.css
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/measurements/MeasurementDetailsComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/measurements/MeasurementMain.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/measurements/MeasurementMetadataUploadDialog.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/samples/registration/batch/SampleBatchInformationSpreadsheet.java
  user-interface/src/main/resources/templates/ngs_measurement_registration_sheet.xlsx
Labels: feature

#518 Enable editing of proteomics measurements
  identity/src/main/java/life/qbic/identity/domain/model/token/PersonalAccessTokenEncoder.java
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/experiment/measurement/MeasurementLookupImplementation.java
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/experiment/measurement/MeasurementRepositoryImplementation.java
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/experiment/measurement/ProteomicsMeasurementJpaRepo.java
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/sample/SampleRepositoryImpl.java
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/sample/openbis/OpenbisSessionFactory.java
  project-management/src/main/java/life/qbic/projectmanagement/application/AddExperimentToProjectService.java
  project-management/src/main/java/life/qbic/projectmanagement/application/ExperimentInformationService.java
  project-management/src/main/java/life/qbic/projectmanagement/application/batch/SampleUpdateRequest.java
  project-management/src/main/java/life/qbic/projectmanagement/application/measurement/MeasurementLookup.java
  project-management/src/main/java/life/qbic/projectmanagement/application/measurement/MeasurementLookupService.java
  project-management/src/main/java/life/qbic/projectmanagement/application/measurement/MeasurementMetadata.java
  project-management/src/main/java/life/qbic/projectmanagement/application/measurement/MeasurementService.java
  project-management/src/main/java/life/qbic/projectmanagement/application/measurement/ProteomicsMeasurementMetadata.java
  project-management/src/main/java/life/qbic/projectmanagement/application/measurement/validation/MeasurementProteomicsValidator.java
  project-management/src/main/java/life/qbic/projectmanagement/application/measurement/validation/MeasurementValidationService.java
  project-management/src/main/java/life/qbic/projectmanagement/application/sample/SampleInformationService.java
  project-management/src/main/java/life/qbic/projectmanagement/application/sample/SamplePreview.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/model/experiment/Experiment.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/model/measurement/MeasurementId.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/model/measurement/ProteomicsMeasurement.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/model/sample/SampleOrigin.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/repository/MeasurementRepository.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/repository/SampleRepository.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/service/MeasurementDomainService.java
  project-management/src/test/groovy/life/qbic/projectmanagement/application/AddExperimentToProjectServiceSpec.groovy
  project-management/src/test/groovy/life/qbic/projectmanagement/application/ExperimentInformationServiceSpec.groovy
  project-management/src/test/groovy/life/qbic/projectmanagement/application/SampleRegistrationServiceSpec.groovy
  project-management/src/test/groovy/life/qbic/projectmanagement/application/measurement/validation/MeasurementProteomicsValidatorSpec.groovy
  project-management/src/test/groovy/life/qbic/projectmanagement/domain/model/experiment/ConditionSpec.groovy
  project-management/src/test/groovy/life/qbic/projectmanagement/domain/model/experiment/ExperimentalDesignSpec.groovy
  project-management/src/test/groovy/life/qbic/projectmanagement/domain/model/experiment/ExperimentalGroupSpec.groovy
  project-management/src/test/groovy/life/qbic/projectmanagement/domain/model/experiment/ExperimentalVariableSpec.groovy
  project-management/src/test/groovy/life/qbic/projectmanagement/domain/model/experiment/VariableLevelSpec.groovy
  project-management/src/test/groovy/life/qbic/projectmanagement/domain/service/SampleDomainServiceSpec.groovy
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/experiments/experiment/ExperimentDetailsComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/experiments/experiment/ExperimentalGroupCard.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/measurements/MeasurementDetailsComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/measurements/MeasurementMain.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/measurements/MeasurementMetadataUploadDialog.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/measurements/MeasurementNGSValidationExecutor.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/measurements/MeasurementPresenter.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/measurements/MeasurementProperty.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/measurements/MeasurementProteomicsValidationExecutor.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/measurements/MeasurementValidationExecutor.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/measurements/ProteomicsMeasurementContentProvider.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/measurements/ProteomicsMeasurementEntry.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/measurements/SampleInformation.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/samples/registration/batch/BatchRegistrationDialog.java
  user-interface/src/main/resources/application.properties
  user-interface/src/main/resources/icons/ROR_logo.svg
  user-interface/src/main/resources/templates/proteomics_measurement_registration_sheet.xlsx
Labels: feature

#537 Add artemis broker configuration
  user-interface/src/main/resources/application.properties
Labels: chore

#522 Enable User to view Raw Data for their measurements
  identity/src/main/java/life/qbic/identity/domain/model/token/PersonalAccessTokenEncoder.java
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/CachedOrganisationRepository.java
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/experiment/measurement/MeasurementLookupImplementation.java
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/experiment/measurement/MeasurementRepositoryImplementation.java
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/experiment/measurement/NGSMeasurementJpaRepo.java
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/experiment/measurement/ProteomicsMeasurementJpaRepo.java
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/sample/QbicSampleRepository.java
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/sample/SampleRepositoryImpl.java
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/sample/openbis/OpenbisConnector.java
  project-management/src/main/java/life/qbic/projectmanagement/application/measurement/MeasurementLookup.java
  project-management/src/main/java/life/qbic/projectmanagement/application/measurement/MeasurementLookupService.java
  project-management/src/main/java/life/qbic/projectmanagement/application/measurement/MeasurementMetadata.java
  project-management/src/main/java/life/qbic/projectmanagement/application/measurement/MeasurementService.java
  project-management/src/main/java/life/qbic/projectmanagement/application/measurement/NGSMeasurementMetadata.java
  project-management/src/main/java/life/qbic/projectmanagement/application/measurement/ProteomicsMeasurementMetadata.java
  project-management/src/main/java/life/qbic/projectmanagement/application/measurement/validation/MeasurementNGSValidator.java
  project-management/src/main/java/life/qbic/projectmanagement/application/rawdata/RawDataLookup.java
  project-management/src/main/java/life/qbic/projectmanagement/application/rawdata/RawDataLookupService.java
  project-management/src/main/java/life/qbic/projectmanagement/application/rawdata/RawDataService.java
  project-management/src/main/java/life/qbic/projectmanagement/application/sample/SampleInformationService.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/model/measurement/MeasurementCode.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/model/measurement/MeasurementId.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/model/measurement/NGSMeasurement.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/model/measurement/ProteomicsMeasurement.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/repository/SampleRepository.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/service/MeasurementDomainService.java
  user-interface/frontend/themes/datamanager/components/div.css
  user-interface/frontend/themes/datamanager/components/icon.css
  user-interface/frontend/themes/datamanager/components/main.css
  user-interface/frontend/themes/datamanager/components/page-area.css
  user-interface/frontend/themes/datamanager/components/span.css
  user-interface/src/main/java/life/qbic/datamanager/views/AppRoutes.java
  user-interface/src/main/java/life/qbic/datamanager/views/GridDetailsItem.java
  user-interface/src/main/java/life/qbic/datamanager/views/general/CodeBlock.java
  user-interface/src/main/java/life/qbic/datamanager/views/general/InfoBox.java
  user-interface/src/main/java/life/qbic/datamanager/views/general/download/DownloadProvider.java
  user-interface/src/main/java/life/qbic/datamanager/views/general/download/TextFileBuilder.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/experiments/ExperimentNavigationComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/measurements/MeasurementDetailsComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/measurements/MeasurementMain.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/measurements/MeasurementMetadataUploadDialog.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/measurements/ProteomicsMeasurementContentProvider.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/rawdata/RawDataDetailsComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/rawdata/RawDataDownloadInformationComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/rawdata/RawDataMain.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/rawdata/RawDataURLContentProvider.java
  user-interface/src/main/resources/META-INF/additional-spring-configuration-metadata.json
  user-interface/src/main/resources/application.properties
Labels: feature

#542 Optimise ontology query
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/ontology/OntologyTermRepository.java
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/ontology/OntologyTermRepositoryJpaInterface.java
  project-management-infrastructure/src/test/groovy/life/qbic/projectmanagement/infrastructure/ontology/OntologyTermRepositorySpec.groovy
Labels: feature

#541 Fix typo and naming description in columns of template sheets
  project-management/src/main/java/life/qbic/projectmanagement/application/measurement/validation/MeasurementProteomicsValidator.java
  user-interface/src/main/resources/templates/ngs_measurement_registration_sheet.xlsx
  user-interface/src/main/resources/templates/proteomics_measurement_registration_sheet.xlsx
Labels: feature

#533 Hide contact dropdown from everyone but admins
  project-management/src/main/java/life/qbic/projectmanagement/application/ContactRepository.java
  user-interface/frontend/themes/datamanager/components/dialog.css
  user-interface/src/main/java/life/qbic/datamanager/views/general/contact/AutocompleteContactField.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/create/AddProjectDialog.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/create/CollaboratorsLayout.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/edit/EditProjectInformationDialog.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/edit/EditProjectInformationForm.java
Labels: feature

#538 rework app-drawer experiment section
  user-interface/frontend/themes/datamanager/components/navigation-drawer.css
  user-interface/src/main/java/life/qbic/datamanager/views/navigation/OpenSideNavItem.java
  user-interface/src/main/java/life/qbic/datamanager/views/navigation/ProjectSideNavigationComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/ProjectMainLayout.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/experiments/ExperimentMainLayout.java
Labels: feature

#552 Improves re-try experience for measurement metadata actions
  project-management/src/main/java/life/qbic/projectmanagement/application/measurement/MeasurementService.java
  user-interface/frontend/themes/datamanager/components/button.css
  user-interface/frontend/themes/datamanager/components/dialog.css
  user-interface/frontend/themes/datamanager/components/icon.css
  user-interface/src/main/java/life/qbic/datamanager/views/general/WizardDialogWindow.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/measurements/MeasurementMain.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/measurements/MeasurementMetadataUploadDialog.java
Labels: feature

#551 Show self-selection and dropdown on their own rows
  user-interface/frontend/themes/datamanager/components/dialog.css
  user-interface/src/main/java/life/qbic/datamanager/views/general/contact/AutocompleteContactField.java
Labels: feature

#555 Remove duplicate hits in ontology search
  project-management/src/main/java/life/qbic/projectmanagement/application/ontology/OntologyClass.java
  project-management/src/main/java/life/qbic/projectmanagement/application/ontology/OntologyLookupService.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/ontology/OntologyLookupComponent.java
Labels: feature

#545 Enable User to download and edit NGS measurement data
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/experiment/measurement/MeasurementDataRepo.java
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/experiment/measurement/MeasurementLookupImplementation.java
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/experiment/measurement/MeasurementRepositoryImplementation.java
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/experiment/measurement/NGSMeasurementJpaRepo.java
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/sample/openbis/OpenbisConnector.java
  project-management/src/main/java/life/qbic/projectmanagement/application/measurement/MeasurementLookup.java
  project-management/src/main/java/life/qbic/projectmanagement/application/measurement/MeasurementLookupService.java
  project-management/src/main/java/life/qbic/projectmanagement/application/measurement/MeasurementService.java
  project-management/src/main/java/life/qbic/projectmanagement/application/measurement/NGSMeasurementMetadata.java
  project-management/src/main/java/life/qbic/projectmanagement/application/measurement/ProteomicsMeasurementMetadata.java
  project-management/src/main/java/life/qbic/projectmanagement/application/measurement/validation/MeasurementNGSValidator.java
  project-management/src/main/java/life/qbic/projectmanagement/application/measurement/validation/MeasurementProteomicsValidator.java
  project-management/src/main/java/life/qbic/projectmanagement/application/measurement/validation/MeasurementValidationService.java
  project-management/src/main/java/life/qbic/projectmanagement/application/rawdata/RawDataService.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/model/measurement/NGSMeasurement.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/model/measurement/ProteomicsMeasurement.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/repository/MeasurementRepository.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/service/MeasurementDomainService.java
  project-management/src/test/groovy/life/qbic/projectmanagement/application/measurement/validation/MeasurementNGSValidatorSpec.groovy
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/measurements/MeasurementDetailsComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/measurements/MeasurementMain.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/measurements/MeasurementMetadataUploadDialog.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/measurements/MeasurementNGSValidationExecutor.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/measurements/MeasurementPresenter.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/measurements/NGSMeasurementContentProvider.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/measurements/NGSMeasurementEntry.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/measurements/ProteomicsMeasurementContentProvider.java
  user-interface/src/main/resources/templates/ngs_measurement_registration_sheet.xlsx
Labels: feature

#556 Test datasources on startup
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/sample/openbis/OpenbisConnector.java
  project-management/src/main/java/life/qbic/projectmanagement/application/DataRepoConnectionTester.java
  user-interface/src/main/java/life/qbic/datamanager/Application.java
Labels: feature

#554 Sorts exp. variable and group cards by name
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/experiments/experiment/ExperimentDetailsComponent.java
Labels: feature

#558 better sorting for groups and variables
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/experiments/experiment/ExperimentDetailsComponent.java
Labels: feature
