Repository qbicsoftware/data-manager-app, pull requests merged in 2024-01, with the labels that each got.

#457 Remove primary style of add button in experimentlistcomponent
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/experiments/ExperimentListComponent.java
Labels: fix

#458 Project creation dialog shows descriptions for each layout and adheres to sizing scheme for our dialogs
  user-interface/frontend/themes/datamanager/components/dialog.css
  user-interface/frontend/themes/datamanager/components/div.css
  user-interface/src/main/java/life/qbic/datamanager/views/projects/create/CollaboratorsLayout.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/create/ExperimentalInformationLayout.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/create/FundingInformationLayout.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/create/ProjectDesignLayout.java
Labels: chore

#459 sort samples in edit spreadsheet like in the sample table
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/samples/registration/batch/EditBatchDialog.java
Labels: feature

#461 Fix spreadsheet breaking on deletion request
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/sample/QbicSampleDataRepo.java
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/sample/SampleRepositoryImpl.java
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/sample/openbis/OpenbisConnector.java
  project-management/src/main/java/life/qbic/projectmanagement/application/DeletionService.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/repository/SampleRepository.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/service/SampleDomainService.java
  user-interface/src/main/java/life/qbic/datamanager/views/general/spreadsheet/Spreadsheet.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/samples/SampleContentComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/samples/registration/batch/EditBatchDialog.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/samples/registration/batch/SampleBatchInformationSpreadsheet.java
Labels: fix

#465 Fix sample editing and project search in openBIS
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/sample/openbis/OpenbisConnector.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/model/sample/AnalysisMethod.java
Labels: feature

#463 Adapt layout of offerupload dialog and offerlist component to figma prototype design
  user-interface/frontend/themes/datamanager/components/button.css
  user-interface/frontend/themes/datamanager/components/dialog.css
  user-interface/frontend/themes/datamanager/components/offer-list.css
  user-interface/src/main/java/life/qbic/datamanager/views/general/DialogWindow.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/info/OfferList.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/purchase/PurchaseItem.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/purchase/UploadPurchaseDialog.java
Labels: feature

#466 only load unique ontology terms
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/experiments/OntologyFilterConnector.java
Labels: feature

#470 add optional sample property 'organism id'
  project-management/src/main/java/life/qbic/projectmanagement/application/batch/SampleUpdateRequest.java
  project-management/src/main/java/life/qbic/projectmanagement/application/sample/SamplePreview.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/model/sample/Sample.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/model/sample/SampleRegistrationRequest.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/service/SampleDomainService.java
  project-management/src/test/groovy/life/qbic/projectmanagement/application/SampleRegistrationServiceSpec.groovy
  project-management/src/test/groovy/life/qbic/projectmanagement/domain/service/SampleDomainServiceSpec.groovy
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/samples/SampleContentComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/samples/SampleDetailsComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/samples/registration/batch/SampleBatchInformationSpreadsheet.java
Labels: feature

#468 Show number of samples, creation- and modificationdate in batchdetailscomponent
  project-management/src/main/java/life/qbic/projectmanagement/application/DeletionService.java
  project-management/src/main/java/life/qbic/projectmanagement/application/batch/BatchRegistrationService.java
  project-management/src/main/java/life/qbic/projectmanagement/application/policy/SampleDeletedPolicy.java
  project-management/src/main/java/life/qbic/projectmanagement/application/policy/directive/DeleteSampleFromBatch.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/model/batch/Batch.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/model/sample/event/SampleDeleted.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/service/SampleDomainService.java
  project-management/src/test/groovy/life/qbic/projectmanagement/application/policy/SampleDeletedPolicySpec.groovy
  user-interface/frontend/themes/datamanager/components/div.css
  user-interface/src/main/java/life/qbic/datamanager/AppConfig.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/samples/BatchDetailsComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/samples/SampleContentComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/samples/SampleDetailsComponent.java
Labels: feature

#460 Adjust text and spacing in create and edit batch dialogs to prototype
  user-interface/frontend/themes/datamanager/components/dialog.css
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/samples/registration/batch/BatchRegistrationDialog.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/samples/registration/batch/EditBatchDialog.java
Labels: chore

#445 Refactor page structure
  project-management/src/main/java/life/qbic/projectmanagement/application/sample/SamplePreview.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/model/sample/Sample.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/service/SampleDomainService.java
  project-management/src/test/groovy/life/qbic/projectmanagement/application/SampleRegistrationServiceSpec.groovy
  project-management/src/test/groovy/life/qbic/projectmanagement/domain/service/SampleDomainServiceSpec.groovy
  user-interface/frontend/themes/datamanager/components/div.css
  user-interface/frontend/themes/datamanager/components/main.css
  user-interface/frontend/themes/datamanager/components/page-area.css
  user-interface/src/main/java/life/qbic/datamanager/views/general/Main.java
  user-interface/src/main/java/life/qbic/datamanager/views/general/MainComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/layouts/CardComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/navigation/ProjectSideNavigationComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/create/AddProjectDialog.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/create/CollaboratorsLayout.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/overview/ProjectOverviewMain.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/overview/components/ProjectCollectionComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/ProjectMainLayout.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/access/ProjectAccessComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/access/ProjectAccessMain.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/experiments/ExperimentContentComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/experiments/ExperimentInformationMain.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/experiments/ExperimentMainLayout.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/experiments/ExperimentNavigationComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/experiments/ExperimentSupportComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/info/ProjectContentComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/info/ProjectInformationMain.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/info/ProjectLink.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/info/ProjectLinksComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/info/ProjectSupportComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/samples/BatchDetailsComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/samples/SampleContentComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/samples/SampleInformationMain.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/samples/SampleSupportComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/samples/registration/batch/SampleBatchInformationSpreadsheet.java
Labels: fix
