Repository qbicsoftware/data-manager-app, pull requests merged in 2024-07, with the labels that each got.

#654 Fix singleton UI scope for password reset use case
  identity/src/main/java/life/qbic/identity/application/user/registration/ConfirmEmailInput.java
  identity/src/main/java/life/qbic/identity/application/user/registration/ConfirmEmailOutput.java
  identity/src/main/java/life/qbic/identity/application/user/registration/EmailAddressConfirmation.java
  identity/src/main/java/life/qbic/identity/application/user/registration/RegisterUserInput.java
  identity/src/main/java/life/qbic/identity/application/user/registration/RegisterUserOutput.java
  user-interface/src/main/java/life/qbic/datamanager/AppConfig.java
  user-interface/src/main/java/life/qbic/datamanager/Application.java
  user-interface/src/main/java/life/qbic/datamanager/views/login/LoginHandler.java
  user-interface/src/main/java/life/qbic/datamanager/views/login/LoginHandlerInterface.java
  user-interface/src/main/java/life/qbic/datamanager/views/login/LoginLayout.java
  user-interface/src/main/java/life/qbic/datamanager/views/login/newpassword/NewPasswordHandler.java
  user-interface/src/main/java/life/qbic/datamanager/views/login/newpassword/NewPasswordHandlerInterface.java
  user-interface/src/main/java/life/qbic/datamanager/views/login/newpassword/NewPasswordLayout.java
  user-interface/src/main/java/life/qbic/datamanager/views/login/newpassword/NewPasswordSetLayout.java
  user-interface/src/main/java/life/qbic/datamanager/views/login/passwordreset/LinkSentLayout.java
  user-interface/src/main/java/life/qbic/datamanager/views/login/passwordreset/PasswordResetHandler.java
  user-interface/src/main/java/life/qbic/datamanager/views/login/passwordreset/PasswordResetHandlerInterface.java
  user-interface/src/main/java/life/qbic/datamanager/views/login/passwordreset/ResetPasswordLayout.java
Labels: fix

#658 Enable Maven dependency checks for dependabot
  .github/dependabot.yml
Labels: fix

#679 Provide implementation for AsyncExecutor necessary after spring boot starter upgrade
  project-management/pom.xml
  user-interface/src/main/java/life/qbic/datamanager/AsyncConfig.java
Labels: fix

#686 Refactor/orcid oauth UI
  identity-api/src/main/java/life/qbic/identity/api/UserInformationService.java
  identity/src/main/java/life/qbic/identity/application/service/BasicUserInformationService.java
  identity/src/main/java/life/qbic/identity/application/user/registration/UserRegistrationException.java
  user-interface/frontend/themes/datamanager/components/div.css
  user-interface/frontend/themes/datamanager/components/main.css
  user-interface/frontend/themes/datamanager/components/span.css
  user-interface/src/main/java/life/qbic/datamanager/MyVaadinSessionInitListener.java
  user-interface/src/main/java/life/qbic/datamanager/security/SecurityConfiguration.java
  user-interface/src/main/java/life/qbic/datamanager/security/StoredRequestAwareOidcAuthenticationSuccessHandler.java
  user-interface/src/main/java/life/qbic/datamanager/views/AppRoutes.java
  user-interface/src/main/java/life/qbic/datamanager/views/login/LoginLayout.java
  user-interface/src/main/java/life/qbic/datamanager/views/login/newpassword/NewPasswordSetLayout.java
  user-interface/src/main/java/life/qbic/datamanager/views/login/passwordreset/LinkSentLayout.java
  user-interface/src/main/java/life/qbic/datamanager/views/login/passwordreset/ResetPasswordLayout.java
  user-interface/src/main/java/life/qbic/datamanager/views/register/EmailConfirmationMain.java
  user-interface/src/main/java/life/qbic/datamanager/views/register/RegisterOpenIdConnect.java
  user-interface/src/main/java/life/qbic/datamanager/views/register/RegistrationOrcIdMain.java
  user-interface/src/main/java/life/qbic/datamanager/views/register/UserRegistrationComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/register/UserRegistrationLayout.java
  user-interface/src/main/java/life/qbic/datamanager/views/register/UserRegistrationMain.java
  user-interface/src/main/java/life/qbic/datamanager/views/register/UserRegistrationOrcIdComponent.java
  user-interface/src/main/resources/login/orcid_logo.svg
Labels: chore

#687 Fix colour range of identicons to a sensitive palette
  user-interface/src/main/java/life/qbic/datamanager/views/identicon/IdenticonGenerator.java
Labels: fix

#689 Set default session timeout and enable configuration
  user-interface/src/main/resources/application.properties
Labels: fix

#690 Increase space between tab name and count icon
  user-interface/frontend/themes/datamanager/components/page-area.css
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/measurements/MeasurementDetailsComponent.java
Labels: feature

#655 Add cancel confirmation dialog to most dialog winows
  user-interface/frontend/themes/datamanager/components/button.css
  user-interface/frontend/themes/datamanager/components/dialog.css
  user-interface/src/main/java/life/qbic/datamanager/views/CancelConfirmationNotificationDialog.java
  user-interface/src/main/java/life/qbic/datamanager/views/account/UserProfileComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/general/DialogWindow.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/create/AddProjectDialog.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/edit/EditProjectInformationDialog.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/experiments/experiment/components/ExperimentalGroupsDialog.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/experiments/experiment/components/ExperimentalVariablesDialog.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/experiments/experiment/create/AddExperimentDialog.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/experiments/experiment/update/EditExperimentDialog.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/measurements/MeasurementMetadataUploadDialog.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/samples/registration/batch/BatchRegistrationDialog.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/samples/registration/batch/EditBatchDialog.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/qualityControl/UploadQualityControlDialog.java
Labels: feature

#670 Increase verbosity of log messages for upload use case
  project-management/src/main/java/life/qbic/projectmanagement/application/measurement/validation/MeasurementNGSValidator.java
  project-management/src/main/java/life/qbic/projectmanagement/application/measurement/validation/MeasurementProteomicsValidator.java
Labels: fix

#699 Introduce http session expiration to enable rolling deployment in HA setting
  user-interface/src/main/java/life/qbic/datamanager/Application.java
  user-interface/src/main/resources/META-INF/additional-spring-configuration-metadata.json
  user-interface/src/main/resources/application.properties
Labels: fix

#708 Logout user after beeing idle or max time of a session has beed reached
  user-interface/src/main/java/life/qbic/datamanager/MyVaadinSessionInitListener.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/overview/ProjectOverviewMain.java
  user-interface/src/main/resources/application.properties
Labels: fix

#706 Restrict sample origin editing, if origin is used
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/experiments/experiment/ExperimentDetailsComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/experiments/experiment/SampleOriginType.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/experiments/experiment/components/ExistingSamplesPreventSampleOriginEdit.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/experiments/experiment/update/EditExperimentDialog.java
Labels: feature

#712 improve session logging
  user-interface/src/main/java/life/qbic/datamanager/MyVaadinSessionInitListener.java
  user-interface/src/main/java/life/qbic/datamanager/exceptionhandling/UiExceptionHandler.java
  user-interface/src/main/resources/application.properties
Labels: fix

#702 Refactor SamplePage UI to current Prototype
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/sample/SamplePreviewJpaRepository.java
  user-interface/frontend/themes/datamanager/components/main.css
  user-interface/frontend/themes/datamanager/components/page-area.css
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/samples/BatchDetailsComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/samples/SampleDetailsComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/samples/SampleInformationMain.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/samples/registration/batch/SampleBatchInformationSpreadsheet.java
Labels: chore

#717 Hotfix
  user-interface/src/main/java/life/qbic/datamanager/exceptionhandling/UiExceptionHandler.java
  user-interface/src/main/java/life/qbic/datamanager/views/CancelConfirmationNotificationDialog.java
Labels: fix

#726 Update documenation for raw data download
  user-interface/src/main/java/life/qbic/datamanager/views/account/PersonalAccessTokenComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/rawdata/RawDataDownloadInformationComponent.java
Labels: fix

#707 Users full name and orcid is shown and filterable during the addition of collaborators to a project
  identity-api/src/main/java/life/qbic/identity/api/UserInfo.java
  identity-api/src/main/java/life/qbic/identity/api/UserInformationService.java
  identity-infrastructure/src/main/java/life/qbic/identity/infrastructure/QbicUserRepo.java
  identity-infrastructure/src/main/java/life/qbic/identity/infrastructure/UserJpaRepository.java
  identity/src/main/java/life/qbic/identity/application/service/BasicUserInformationService.java
  identity/src/main/java/life/qbic/identity/domain/repository/UserDataStorage.java
  identity/src/main/java/life/qbic/identity/domain/repository/UserRepository.java
  user-interface/frontend/themes/datamanager/components/dialog.css
  user-interface/frontend/themes/datamanager/components/div.css
  user-interface/frontend/themes/datamanager/components/image.css
  user-interface/frontend/themes/datamanager/components/main.css
  user-interface/frontend/themes/datamanager/components/page-area.css
  user-interface/frontend/themes/datamanager/components/span.css
  user-interface/src/main/java/life/qbic/datamanager/security/OidcUserDetailsService.java
  user-interface/src/main/java/life/qbic/datamanager/views/general/oidc/OidcLogo.java
  user-interface/src/main/java/life/qbic/datamanager/views/general/oidc/OidcType.java
  user-interface/src/main/java/life/qbic/datamanager/views/login/LoginLayout.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/access/AddCollaboratorToProjectDialog.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/access/ProjectAccessComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/access/ProjectUserRemovalConfirmationNotification.java
Labels: feature
