Repository qbicsoftware/data-manager-app, pull requests merged in 2024-08, with the labels that each got.

#755 Provide code of conduct
  CODE_OF_CONDUCT.md
Labels: chore

#756 Create bug issue form
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/config.yml
Labels: chore

#757 Provide feature request form
  .github/ISSUE_TEMPLATE/01-feature-request.yml
  .github/ISSUE_TEMPLATE/02-bug-report.yml
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: chore

#762 Update data privacy
  user-interface/src/main/resources/impressum/DataPrivacyAgreement.html
Labels: chore

#767 Toggle info box without wobble
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/measurements/MeasurementMain.java
Labels: fix

#769 Refactor SamplePage UI to current Prototype
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/sample/SamplePreviewJpaRepository.java
  user-interface/frontend/themes/datamanager/components/main.css
  user-interface/frontend/themes/datamanager/components/page-area.css
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/samples/BatchDetailsComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/samples/SampleDetailsComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/samples/SampleInformationMain.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/samples/registration/batch/SampleBatchInformationSpreadsheet.java
Labels: chore

#768 Replace sample label by sample name
  project-management/src/main/java/life/qbic/projectmanagement/application/measurement/validation/MeasurementNGSValidator.java
  project-management/src/main/java/life/qbic/projectmanagement/application/measurement/validation/MeasurementProteomicsValidator.java
  project-management/src/test/groovy/life/qbic/projectmanagement/application/measurement/validation/MeasurementProteomicsValidatorSpec.groovy
  user-interface/src/main/bundles/README.md
  user-interface/src/main/bundles/dev.bundle
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/measurements/MeasurementDetailsComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/measurements/MeasurementMain.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/measurements/download/NGSMeasurementContentProvider.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/measurements/download/ProteomicsMeasurementContentProvider.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/samples/SampleMetadataContentProvider.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/samples/download/SampleInformationXLSXProvider.java
  user-interface/src/main/resources/templates/ngs_measurement_registration_sheet.xlsx
  user-interface/src/main/resources/templates/proteomics_measurement_registration_sheet.xlsx
Labels: feature

#770 Users full name and orcid is shown and filterable during the addition of collaborators to a project
  identity-api/src/main/java/life/qbic/identity/api/UserInfo.java
  identity-api/src/main/java/life/qbic/identity/api/UserInformationService.java
  identity-infrastructure/src/main/java/life/qbic/identity/infrastructure/QbicUserRepo.java
  identity-infrastructure/src/main/java/life/qbic/identity/infrastructure/UserJpaRepository.java
  identity/src/main/java/life/qbic/identity/application/service/BasicUserInformationService.java
  identity/src/main/java/life/qbic/identity/domain/repository/UserDataStorage.java
  identity/src/main/java/life/qbic/identity/domain/repository/UserRepository.java
  user-interface/frontend/themes/datamanager/components/dialog.css
  user-interface/frontend/themes/datamanager/components/div.css
  user-interface/frontend/themes/datamanager/components/image.css
  user-interface/frontend/themes/datamanager/components/main.css
  user-interface/frontend/themes/datamanager/components/page-area.css
  user-interface/frontend/themes/datamanager/components/span.css
  user-interface/src/main/java/life/qbic/datamanager/security/OidcUserDetailsService.java
  user-interface/src/main/java/life/qbic/datamanager/views/general/oidc/OidcLogo.java
  user-interface/src/main/java/life/qbic/datamanager/views/general/oidc/OidcType.java
  user-interface/src/main/java/life/qbic/datamanager/views/login/LoginLayout.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/access/AddCollaboratorToProjectDialog.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/access/ProjectAccessComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/access/ProjectUserRemovalConfirmationNotification.java
Labels: feature

#774 Users full name and orcid is shown and filterable during the addition of collaborators to a project
  identity-api/src/main/java/life/qbic/identity/api/UserInfo.java
  identity-api/src/main/java/life/qbic/identity/api/UserInformationService.java
  identity-infrastructure/src/main/java/life/qbic/identity/infrastructure/QbicUserRepo.java
  identity-infrastructure/src/main/java/life/qbic/identity/infrastructure/UserJpaRepository.java
  identity/src/main/java/life/qbic/identity/application/service/BasicUserInformationService.java
  identity/src/main/java/life/qbic/identity/domain/repository/UserDataStorage.java
  identity/src/main/java/life/qbic/identity/domain/repository/UserRepository.java
  user-interface/frontend/themes/datamanager/components/dialog.css
  user-interface/frontend/themes/datamanager/components/div.css
  user-interface/frontend/themes/datamanager/components/image.css
  user-interface/frontend/themes/datamanager/components/main.css
  user-interface/frontend/themes/datamanager/components/page-area.css
  user-interface/frontend/themes/datamanager/components/span.css
  user-interface/src/main/java/life/qbic/datamanager/security/OidcUserDetailsService.java
  user-interface/src/main/java/life/qbic/datamanager/views/general/oidc/OidcLogo.java
  user-interface/src/main/java/life/qbic/datamanager/views/general/oidc/OidcType.java
  user-interface/src/main/java/life/qbic/datamanager/views/login/LoginLayout.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/access/AddCollaboratorToProjectDialog.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/access/ProjectAccessComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/access/ProjectUserRemovalConfirmationNotification.java
Labels: feature

#771 Update data privacy
  user-interface/src/main/resources/impressum/DataPrivacyAgreement.html
Labels: chore

#773 Change user search input text placeholder
  user-interface/src/main/java/life/qbic/datamanager/views/login/LoginLayout.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/access/AddCollaboratorToProjectDialog.java
  user-interface/src/main/java/life/qbic/datamanager/views/register/RegistrationOrcIdMain.java
Labels: feature

#776 Fix sorting by sample name
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/sample/SamplePreviewJpaRepository.java
  project-management/src/main/java/life/qbic/projectmanagement/application/batch/SampleUpdateRequest.java
  project-management/src/main/java/life/qbic/projectmanagement/application/dataset/RawDataService.java
  project-management/src/main/java/life/qbic/projectmanagement/application/sample/SamplePreview.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/model/sample/Sample.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/service/SampleDomainService.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/overview/ProjectOverviewMain.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/measurements/SampleInformation.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/measurements/download/NGSMeasurementContentProvider.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/measurements/download/ProteomicsMeasurementContentProvider.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/rawdata/RawDataDetailsComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/samples/SampleDetailsComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/samples/SampleInformationMain.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/samples/SampleMetadataContentProvider.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/samples/download/SampleInformationXLSXProvider.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/samples/registration/batch/SampleBatchInformationSpreadsheet.java
Labels: fix

#775 Adjust fullname styling to UI requirements
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/access/ProjectAccessComponent.java
Labels: feature

#782 Provide link to data manager landing page
  user-interface/src/main/resources/impressum/DataPrivacyAgreement.html
  user-interface/src/main/resources/impressum/LegalNotice.html
Labels: fix

#789 Replace organism id with biological replicate
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/sample/SamplePreviewJpaRepository.java
  project-management/src/main/java/life/qbic/projectmanagement/application/batch/SampleUpdateRequest.java
  project-management/src/main/java/life/qbic/projectmanagement/application/sample/SamplePreview.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/model/sample/Sample.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/model/sample/SampleRegistrationRequest.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/service/SampleDomainService.java
  user-interface/src/main/bundles/dev.bundle
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/samples/SampleDetailsComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/samples/SampleInformationMain.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/samples/SampleMetadataContentProvider.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/samples/download/SampleInformationXLSXProvider.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/samples/registration/batch/SampleBatchInformationSpreadsheet.java
Labels: chore

#797 Link to documentation in empty Raw Data view
  user-interface/frontend/themes/datamanager/components/div.css
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/rawdata/RawDataMain.java
Labels: feature

#796 Prepend project code to metadata files for download
  project-management/src/main/java/life/qbic/projectmanagement/domain/model/experiment/repository/jpa/OntologyClassAttributeConverter.java
  user-interface/src/main/bundles/dev.bundle
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/measurements/MeasurementMain.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/measurements/download/NGSMeasurementContentProvider.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/measurements/download/ProteomicsMeasurementContentProvider.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/rawdata/RawDataMain.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/rawdata/RawDataURLContentProvider.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/samples/SampleInformationMain.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/samples/download/SampleInformationXLSXProvider.java
Labels: feature

#785 Integrate TIB terminology API for ontology search
  application-commons/src/main/java/life/qbic/application/commons/ApplicationException.java
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/ontology/SpeciesTermRepository.java
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/ontology/TIBTerminologyServiceIntegration.java
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/ontology/TibTerm.java
  project-management-infrastructure/src/test/groovy/life/qbic/projectmanagement/infrastructure/CachedOrganisationRepositorySpec.groovy
  project-management-infrastructure/src/test/groovy/life/qbic/projectmanagement/infrastructure/ontology/OntologyTermRepositorySpec.groovy
  project-management/src/main/java/life/qbic/projectmanagement/application/ProjectInformationService.java
  project-management/src/main/java/life/qbic/projectmanagement/application/measurement/MeasurementLookupService.java
  project-management/src/main/java/life/qbic/projectmanagement/application/measurement/MeasurementService.java
  project-management/src/main/java/life/qbic/projectmanagement/application/measurement/validation/MeasurementNGSValidator.java
  project-management/src/main/java/life/qbic/projectmanagement/application/measurement/validation/MeasurementProteomicsValidator.java
  project-management/src/main/java/life/qbic/projectmanagement/application/ontology/LookupException.java
  project-management/src/main/java/life/qbic/projectmanagement/application/ontology/SpeciesLookupInterface.java
  project-management/src/main/java/life/qbic/projectmanagement/application/ontology/SpeciesLookupService.java
  project-management/src/main/java/life/qbic/projectmanagement/application/ontology/TerminologySelect.java
  project-management/src/main/java/life/qbic/projectmanagement/application/ontology/TerminologyService.java
  project-management/src/main/java/life/qbic/projectmanagement/application/sample/SampleInformationService.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/model/Ontology.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/model/OntologyTerm.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/repository/SpeciesRepository.java
  project-management/src/test/groovy/life/qbic/projectmanagement/application/measurement/validation/MeasurementNGSValidatorSpec.groovy
  project-management/src/test/groovy/life/qbic/projectmanagement/application/measurement/validation/MeasurementProteomicsValidatorSpec.groovy
  user-interface/src/main/java/life/qbic/datamanager/views/general/OntologyComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/navigation/ProjectSideNavigationComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/create/AddProjectDialog.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/create/ExperimentalInformationLayout.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/create/OntologyComboboxFactory.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/overview/ProjectOverviewMain.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/ProjectMainLayout.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/experiments/ExperimentMainLayout.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/experiments/OntologyFilterConnector.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/experiments/experiment/ExperimentDetailsComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/experiments/experiment/create/AddExperimentDialog.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/experiments/experiment/update/EditExperimentDialog.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/info/ProjectDetailsComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/info/ProjectInformationMain.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/measurements/MeasurementDetailsComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/measurements/MeasurementPresenter.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/ontology/OntologyLookupComponent.java
  user-interface/src/main/resources/application.properties
  user-interface/src/main/resources/messages.properties
Labels: feature

#809 Fix broken ProjectAccessComponent after dependency upgrade
  user-interface/src/main/bundles/dev.bundle
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/access/ProjectAccessComponent.java
Labels: fix

#803 Support xlsx upload for measurement metadata registration
  application-commons/src/main/java/life/qbic/application/commons/ApplicationException.java
  project-management/src/main/java/life/qbic/projectmanagement/application/measurement/MeasurementService.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/model/sample/SampleCode.java
  user-interface/src/main/bundles/dev.bundle
  user-interface/src/main/java/life/qbic/datamanager/parser/MeasurementMetadataConverter.java
  user-interface/src/main/java/life/qbic/datamanager/parser/MetadataConverter.java
  user-interface/src/main/java/life/qbic/datamanager/parser/MetadataParser.java
  user-interface/src/main/java/life/qbic/datamanager/parser/ParsingResult.java
  user-interface/src/main/java/life/qbic/datamanager/parser/Sanitizer.java
  user-interface/src/main/java/life/qbic/datamanager/parser/tsv/TSVParser.java
  user-interface/src/main/java/life/qbic/datamanager/parser/xlsx/XLSXParser.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/measurements/MeasurementMetadataUploadDialog.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/measurements/MeasurementProteomicsValidationExecutor.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/measurements/MeasurementValidationExecutor.java
  user-interface/src/main/resources/messages.properties
Labels: feature

#814 User is able to select species specific search via Togglebutton
  user-interface/frontend/themes/datamanager/components/custom.css
  user-interface/frontend/themes/datamanager/components/toggle-button.css
  user-interface/src/main/bundles/dev.bundle
  user-interface/src/main/java/life/qbic/datamanager/views/general/ToggleButton.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/ontology/OntologyLookupComponent.java
Labels: feature
