Repository qbicsoftware/data-manager-app, pull requests merged in 2024-05, with the labels that each got.

#560 Allow to add new groups even if samples are registered
  project-management/src/main/java/life/qbic/projectmanagement/domain/model/experiment/Condition.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/experiments/experiment/ExperimentDetailsComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/experiments/experiment/ExperimentalGroupInput.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/experiments/experiment/components/ExperimentalGroupsDialog.java
Labels: fix

#562 Only allow creation of complete experimental groups
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/experiments/experiment/ExperimentDetailsComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/experiments/experiment/components/ExperimentalGroupsDialog.java
Labels: fix

#561 Project are shown as card designs on the "home page"
  project-management/src/main/java/life/qbic/projectmanagement/application/measurement/MeasurementLookupService.java
  project-management/src/main/java/life/qbic/projectmanagement/application/measurement/MeasurementService.java
  user-interface/frontend/themes/datamanager/components/div.css
  user-interface/frontend/themes/datamanager/components/main.css
  user-interface/frontend/themes/datamanager/components/page-area.css
  user-interface/frontend/themes/datamanager/components/span.css
  user-interface/src/main/java/life/qbic/datamanager/views/general/Tag.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/overview/ProjectOverviewMain.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/overview/components/ProjectCollectionComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/access/ProjectAccessComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/info/ProjectDetailsComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/samples/SampleDetailsComponent.java
Labels: feature

#564 Update download instructions to current documentation
  user-interface/src/main/java/life/qbic/datamanager/views/account/PersonalAccessTokenComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/rawdata/RawDataDownloadInformationComponent.java
Labels: feature

#565 Validate digestion method when updating proteomics measurements
  project-management/src/main/java/life/qbic/projectmanagement/application/measurement/validation/MeasurementProteomicsValidator.java
  user-interface/src/main/resources/templates/proteomics_measurement_registration_sheet.xlsx
Labels: fix

#567 Enable ACL cache
  user-interface/pom.xml
  user-interface/src/main/java/life/qbic/datamanager/CacheLogger.java
  user-interface/src/main/java/life/qbic/datamanager/security/AclSecurityConfiguration.java
  user-interface/src/main/resources/ehcache3.xml
Labels: feature

#568 Provide SQL statements for project statistic views
  sql/project_measurements_view.sql
  sql/project_overview.sql
  sql/project_usernames_view.sql
Labels: chore

#570 Introduces local domain event dispatcher
  domain-concept/src/main/java/life/qbic/domain/concepts/LocalDomainEventDispatcher.java
  project-management/src/main/java/life/qbic/projectmanagement/application/measurement/MeasurementService.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/model/measurement/ProteomicsMeasurement.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/model/measurement/event/MeasurementUpdatedEvent.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/service/MeasurementDomainService.java
Labels: feature

#572 Reset local thread variable properly
  domain-concept/src/main/java/life/qbic/domain/concepts/LocalDomainEventDispatcher.java
  project-management/src/main/java/life/qbic/projectmanagement/application/measurement/MeasurementService.java
Labels: feature

#563 Provide profile page in which user can set their user name
  identity-api/src/main/java/life/qbic/identity/api/UserInfo.java
  identity/src/main/java/life/qbic/identity/application/user/IdentityService.java
  identity/src/main/java/life/qbic/identity/domain/model/User.java
  project-management/src/main/java/life/qbic/projectmanagement/application/authorization/QbicUserDetails.java
  project-management/src/main/java/life/qbic/projectmanagement/application/authorization/User.java
  user-interface/frontend/themes/datamanager/components/dialog.css
  user-interface/frontend/themes/datamanager/components/main.css
  user-interface/frontend/themes/datamanager/components/page-area.css
  user-interface/src/main/java/life/qbic/datamanager/security/UserDetailsServiceImpl.java
  user-interface/src/main/java/life/qbic/datamanager/views/AppRoutes.java
  user-interface/src/main/java/life/qbic/datamanager/views/UserMainLayout.java
  user-interface/src/main/java/life/qbic/datamanager/views/account/UserProfileComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/account/UserProfileMain.java
  user-interface/src/main/java/life/qbic/datamanager/views/general/DataManagerMenu.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/overview/ProjectOverviewMain.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/ProjectMainLayout.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/access/AddCollaboratorToProjectDialog.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/access/ProjectAccessComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/experiments/ExperimentMainLayout.java
Labels: feature

#574 Require 12 instead of 8 characters for a password
  identity/src/main/java/life/qbic/identity/domain/model/PasswordPolicy.java
  identity/src/test/groovy/life/qbic/identity/domain/user/EncryptedPasswordSpec.groovy
  identity/src/test/groovy/life/qbic/identity/domain/user/UserSpec.groovy
  identity/src/test/groovy/life/qbic/identity/domain/usermanagement/policies/PasswordPolicySpec.groovy
  identity/src/test/groovy/life/qbic/identity/domain/usermanagement/registration/RegistrationSpec.groovy
  identity/src/test/groovy/life/qbic/identity/domain/usermanagement/repository/UserRepositorySpec.groovy
  user-interface/src/main/java/life/qbic/datamanager/views/register/UserRegistrationHandler.java
Labels: feature

#573 Enable pool metadata property variation among samples
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/experiment/measurement/MeasurementLookupImplementation.java
  project-management/src/main/java/life/qbic/projectmanagement/application/measurement/Labeling.java
  project-management/src/main/java/life/qbic/projectmanagement/application/measurement/MeasurementMetadata.java
  project-management/src/main/java/life/qbic/projectmanagement/application/measurement/MeasurementService.java
  project-management/src/main/java/life/qbic/projectmanagement/application/measurement/NGSMeasurementMetadata.java
  project-management/src/main/java/life/qbic/projectmanagement/application/measurement/ProteomicsMeasurementMetadata.java
  project-management/src/main/java/life/qbic/projectmanagement/application/measurement/validation/MeasurementNGSValidator.java
  project-management/src/main/java/life/qbic/projectmanagement/application/measurement/validation/MeasurementProteomicsValidator.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/model/measurement/ProteomicsMeasurement.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/model/measurement/ProteomicsMethodMetadata.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/model/measurement/ProteomicsSpecificMeasurementMetadata.java
  project-management/src/test/groovy/life/qbic/projectmanagement/application/measurement/validation/MeasurementProteomicsValidatorSpec.groovy
  user-interface/src/main/java/life/qbic/datamanager/AsyncConfig.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/measurements/MeasurementDetailsComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/measurements/MeasurementMain.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/measurements/MeasurementMetadataUploadDialog.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/measurements/MeasurementPresenter.java
Labels: feature

#579 update injection volume
  project-management/src/main/java/life/qbic/projectmanagement/application/measurement/MeasurementService.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/model/measurement/ProteomicsMeasurement.java
Labels: fix

#580 Spit out errors during meaurement registration and do not require LCMS method in aggregate
  project-management/src/main/java/life/qbic/projectmanagement/application/measurement/MeasurementService.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/model/measurement/ProteomicsMeasurement.java
Labels: fix

#581 Listing collaborators only requires READ role and more expressive access denied message
  application-commons/pom.xml
  application-commons/src/main/java/life/qbic/application/commons/ApplicationException.java
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/project/ProjectRepositoryImpl.java
  project-management/src/main/java/life/qbic/projectmanagement/application/authorization/acl/ProjectAccessServiceImpl.java
  user-interface/src/main/resources/messages.properties
Labels: fix

#582 Remove biological replicate from concept
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/sample/SamplePreviewJpaRepository.java
  project-management/src/main/java/life/qbic/projectmanagement/application/batch/SampleUpdateRequest.java
  project-management/src/main/java/life/qbic/projectmanagement/application/sample/SamplePreview.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/model/experiment/BiologicalReplicate.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/model/experiment/BiologicalReplicateId.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/model/experiment/ExperimentalGroup.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/model/sample/Sample.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/model/sample/SampleRegistrationRequest.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/service/SampleDomainService.java
  project-management/src/test/groovy/life/qbic/projectmanagement/application/SampleRegistrationServiceSpec.groovy
  project-management/src/test/groovy/life/qbic/projectmanagement/domain/service/SampleDomainServiceSpec.groovy
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/experiments/experiment/ExperimentalGroupInput.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/samples/SampleDetailsComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/samples/SampleInformationMain.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/samples/SampleMetadataContentProvider.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/samples/registration/batch/BatchRegistrationDialog.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/samples/registration/batch/SampleBatchInformationSpreadsheet.java
Labels: chore

#571 Only create ontology entries for distinct species specimen and analytes for all experiments within a project
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/info/ProjectDetailsComponent.java
Labels: feature
