Repository qbicsoftware/data-manager-app, pull requests merged in 2025-09, with the labels that each got.

#1252 Correct UI Thread access
  user-interface/src/main/bundles/dev.bundle
  user-interface/src/main/java/life/qbic/datamanager/announcements/AnnouncementComponent.java
Labels: fix

#1250 Enable linking of ORCID account
  identity/src/main/java/life/qbic/identity/application/user/IdentityService.java
  identity/src/main/java/life/qbic/identity/domain/model/User.java
  project-management/src/main/java/life/qbic/projectmanagement/application/authorization/QbicUserDetails.java
  project-management/src/main/java/life/qbic/projectmanagement/application/authorization/User.java
  user-interface/src/main/bundles/prod.bundle
  user-interface/src/main/java/life/qbic/datamanager/security/OidcLinkController.java
  user-interface/src/main/java/life/qbic/datamanager/security/SecurityConfiguration.java
  user-interface/src/main/java/life/qbic/datamanager/security/StoredRequestAwareOidcAuthenticationSuccessHandler.java
  user-interface/src/main/java/life/qbic/datamanager/security/authentication-flow.md
  user-interface/src/main/java/life/qbic/datamanager/views/account/UserProfileComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/account/UserProfileMain.java
  user-interface/src/main/resources/messages/toast-notifications.properties
Labels: feature

#1258 Introduce Spring configuration profile for development
  README.md
  project-management-infrastructure/pom.xml
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/ontology/MockTerminologySelect.java
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/ontology/TIBTerminologyServiceIntegration.java
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/organisations/CachedOrganisationRepository.java
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/organisations/MockOrganisationRepository.java
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/organisations/RORentry.java
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/sample/openbis/MockConnector.java
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/sample/openbis/OpenbisConnector.java
  project-management-infrastructure/src/test/groovy/life/qbic/projectmanagement/infrastructure/CachedOrganisationRepositorySpec.groovy
  user-interface/pom.xml
  user-interface/src/main/bundles/dev.bundle
  user-interface/src/main/java/life/qbic/datamanager/AppConfig.java
  user-interface/src/main/java/life/qbic/datamanager/views/demo/ComponentDemo.java
Labels: chore

#1279 Correct locking exception handling
  project-management/src/main/java/life/qbic/projectmanagement/application/ProjectInformationService.java
Labels: fix

#1280 Use pessimistic lock to address bursts
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/project/ProjectRepositoryImpl.java
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/project/QbicProjectRepo.java
  project-management/src/main/java/life/qbic/projectmanagement/application/ProjectInformationService.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/repository/ProjectRepository.java
Labels: fix

#1282 Add configurable delays for announcements
  user-interface/src/main/java/life/qbic/datamanager/announcements/AnnouncementComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/DataManagerLayout.java
  user-interface/src/main/java/life/qbic/datamanager/views/UserMainLayout.java
  user-interface/src/main/java/life/qbic/datamanager/views/landing/LandingPageLayout.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/ProjectMainLayout.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/experiments/ExperimentMainLayout.java
  user-interface/src/main/resources/application.properties
Labels: fix

#1285 Use concatMap over flatMap for experimental groups creation
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/experiments/experiment/ExperimentDetailsComponent.java
Labels: fix

#1297 Implement thread safe request cache
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/ontology/RequestCache.java
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/ontology/SynchronizedRequestCache.java
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/ontology/TIBTerminologyServiceIntegration.java
  user-interface/src/main/resources/application.properties
Labels: fix

#1298 Check for missing measurement ID on update validation
  project-management/src/main/java/life/qbic/projectmanagement/application/measurement/MeasurementService.java
  project-management/src/main/java/life/qbic/projectmanagement/application/measurement/validation/MeasurementNGSValidator.java
  project-management/src/main/java/life/qbic/projectmanagement/application/measurement/validation/MeasurementProteomicsValidator.java
Labels: fix

#1302 Check for sample relation to project on measurement registration
  project-management/src/main/java/life/qbic/projectmanagement/application/api/AsyncProjectServiceImpl.java
  project-management/src/main/java/life/qbic/projectmanagement/application/measurement/validation/MeasurementNGSValidator.java
  project-management/src/main/java/life/qbic/projectmanagement/application/measurement/validation/MeasurementProteomicsValidator.java
  project-management/src/main/java/life/qbic/projectmanagement/application/measurement/validation/MeasurementValidationService.java
  project-management/src/main/java/life/qbic/projectmanagement/application/measurement/validation/MeasurementValidator.java
  project-management/src/test/groovy/life/qbic/projectmanagement/application/measurement/validation/MeasurementNGSValidatorSpec.groovy
  project-management/src/test/groovy/life/qbic/projectmanagement/application/measurement/validation/MeasurementProteomicsValidatorSpec.groovy
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/measurements/MeasurementNGSValidationExecutor.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/measurements/MeasurementProteomicsValidationExecutor.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/measurements/MeasurementValidationExecutor.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/measurements/registration/MeasurementUpload.java
Labels: fix

#1306 Remove unused columns from object
  project-management/src/main/java/life/qbic/projectmanagement/domain/model/experiment/Experiment.java
Labels: fix

#1315 Fix ontology query failing when properties match the search term
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/ontology/TIBTerminologyServiceIntegration.java
Labels: fix
