Repository qbicsoftware/data-manager-app, pull requests merged in 2025-02, with the labels that each got.

#1003 Fix failing sample issue
  project-management/src/main/java/life/qbic/projectmanagement/application/confounding/ConfoundingVariableServiceImpl.java
  project-management/src/main/java/life/qbic/projectmanagement/application/sample/SampleRegistrationServiceV2.java
Labels: fix

#1006 Update default values for the TIB environment variables
  user-interface/src/main/resources/application.properties
Labels: fix

#1008 Replace vaadin dependency by direct apache poi dependencies
  user-interface/pom.xml
Labels: fix

#1012 Fix issue with sample creation
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/sample/openbis/OpenbisConnector.java
Labels: fix

#1001 Provide pooling name in measurement overview
  finances-infrastructure/pom.xml
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/measurements/MeasurementDetailsComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/measurements/MeasurementMain.java
Labels: feature

#1005 Introduce secret vault and improve openBIS session handling
  .gitignore
  README.md
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/DataManagerVault.java
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/sample/openbis/OpenbisConnector.java
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/sample/openbis/OpenbisSession.java
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/sample/openbis/OpenbisSessionFactory.java
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/sample/openbis/VaultConfig.java
  user-interface/src/main/bundles/dev.bundle
  user-interface/src/main/resources/META-INF/additional-spring-configuration-metadata.json
  user-interface/src/main/resources/application.properties
Labels: fix

#1016 Fix confounding variable names not being separated
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/experiments/experiment/ExperimentDetailsComponent.java
Labels: fix

#1020 Display toasts in case of project creation
  user-interface/src/main/java/life/qbic/datamanager/views/projects/overview/ProjectOverviewMain.java
  user-interface/src/main/resources/messages/toast-notifications.properties
Labels: feature

#1025 Batch update must be idempotent with respect to sample ids
  project-management/src/main/java/life/qbic/projectmanagement/domain/model/batch/Batch.java
Labels: fix

#1027 Fix wrong intitialization for variables collection
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/experiments/experiment/ExperimentDetailsComponent.java
Labels: fix

#1040 Enable request IDs for service API
  project-management/src/main/java/life/qbic/projectmanagement/application/api/AsyncProjectService.java
  project-management/src/main/java/life/qbic/projectmanagement/application/api/AsyncProjectServiceImpl.java
Labels: feature

#1038 Add API objects for project information
  project-management/src/main/java/life/qbic/projectmanagement/application/api/AsyncProjectService.java
  project-management/src/main/java/life/qbic/projectmanagement/application/api/AsyncProjectServiceImpl.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/info/ProjectSummaryComponent.java
Labels: feature

#1042 Provide one button app dialog
  user-interface/src/main/java/life/qbic/datamanager/views/demo/ComponentDemo.java
  user-interface/src/main/java/life/qbic/datamanager/views/general/dialog/DialogFooter.java
Labels: feature

#1044 Add missing API docs
  project-management/src/main/java/life/qbic/projectmanagement/application/api/AsyncProjectService.java
Labels: chore

#1045 Enable async service retry
  pom.xml
  project-management/pom.xml
  project-management/src/main/java/life/qbic/projectmanagement/application/api/AsyncProjectServiceImpl.java
  project-management/src/main/java/life/qbic/projectmanagement/application/authorization/ReactiveSecurityContextUtils.java
  project-management/src/test/groovy/life/qbic/projectmanagement/application/api/AsyncProjectServiceImplTest.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/info/ProjectSummaryComponent.java
Labels: feature
