Repository qbicsoftware/data-manager-app, pull requests merged in 2025-01, with the labels that each got.

#934 Introduce stepper dialog
  user-interface/front-end-components.md
  user-interface/frontend/themes/datamanager/components/all.css
  user-interface/src/main/bundles/dev.bundle
  user-interface/src/main/bundles/prod.bundle
  user-interface/src/main/java/life/qbic/datamanager/views/demo/ComponentDemo.java
  user-interface/src/main/java/life/qbic/datamanager/views/general/dialog/AppDialog.java
  user-interface/src/main/java/life/qbic/datamanager/views/general/dialog/ButtonFactory.java
  user-interface/src/main/java/life/qbic/datamanager/views/general/dialog/DialogFooter.java
  user-interface/src/main/java/life/qbic/datamanager/views/general/dialog/stepper/NavigationInformation.java
  user-interface/src/main/java/life/qbic/datamanager/views/general/dialog/stepper/NavigationListener.java
  user-interface/src/main/java/life/qbic/datamanager/views/general/dialog/stepper/Step.java
  user-interface/src/main/java/life/qbic/datamanager/views/general/dialog/stepper/StepDisplay.java
  user-interface/src/main/java/life/qbic/datamanager/views/general/dialog/stepper/StepperDialog.java
  user-interface/src/main/java/life/qbic/datamanager/views/general/dialog/stepper/StepperDialogFooter.java
  user-interface/src/main/java/life/qbic/datamanager/views/general/dialog/stepper/StepperDisplay.java
  user-interface/vite.config.ts
Labels: feature

#961 Remove dummy contacts for collaborators for admins during project creation
  project-management/src/main/java/life/qbic/projectmanagement/application/ContactRepository.java
  user-interface/src/main/java/life/qbic/datamanager/views/general/contact/AutocompleteContactField.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/create/AddProjectDialog.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/create/CollaboratorsLayout.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/overview/ProjectOverviewMain.java
Labels: feature

#960 Provide helper box only in the header and the first row of each template
  user-interface/src/main/java/life/qbic/datamanager/templates/measurement/NGSMeasurementEditTemplate.java
  user-interface/src/main/java/life/qbic/datamanager/templates/measurement/NGSMeasurementRegisterTemplate.java
  user-interface/src/main/java/life/qbic/datamanager/templates/measurement/ProteomicsMeasurementEditTemplate.java
  user-interface/src/main/java/life/qbic/datamanager/templates/measurement/ProteomicsMeasurementRegisterTemplate.java
  user-interface/src/main/java/life/qbic/datamanager/templates/sample/SampleBatchRegistrationTemplate.java
  user-interface/src/main/java/life/qbic/datamanager/templates/sample/SampleBatchUpdateTemplate.java
Labels: feature

#967 Add third party licenses
  THIRD-PARTY.txt
  pom.xml
Labels: chore

#962 Show comments for NGS and ProteomicsMeasurements
  project-management/src/main/java/life/qbic/projectmanagement/domain/model/measurement/NGSMeasurement.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/model/measurement/ProteomicsMeasurement.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/model/measurement/ProteomicsSpecificMeasurementMetadata.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/measurements/MeasurementDetailsComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/measurements/MeasurementPresenter.java
Labels: feature

#974 Introduce toast factory and apply it on sample batch interaction
  user-interface/src/main/java/life/qbic/datamanager/views/demo/ComponentDemo.java
  user-interface/src/main/java/life/qbic/datamanager/views/notifications/MessageSourceNotificationFactory.java
  user-interface/src/main/java/life/qbic/datamanager/views/notifications/Toast.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/samples/SampleInformationMain.java
  user-interface/src/main/resources/messages/toast-notifications.properties
Labels: feature

#978 Show helper box only in the header cells of all sample and measurement excel templates
  user-interface/src/main/java/life/qbic/datamanager/templates/measurement/NGSMeasurementEditTemplate.java
  user-interface/src/main/java/life/qbic/datamanager/templates/measurement/NGSMeasurementRegisterTemplate.java
  user-interface/src/main/java/life/qbic/datamanager/templates/measurement/ProteomicsMeasurementEditTemplate.java
  user-interface/src/main/java/life/qbic/datamanager/templates/measurement/ProteomicsMeasurementRegisterTemplate.java
  user-interface/src/main/java/life/qbic/datamanager/templates/sample/SampleBatchRegistrationTemplate.java
  user-interface/src/main/java/life/qbic/datamanager/templates/sample/SampleBatchUpdateTemplate.java
Labels: fix

#983 Use TIB terminology service for instrument lookup
  project-management/src/main/java/life/qbic/projectmanagement/application/measurement/MeasurementService.java
Labels: fix

#987 Ensure that sonar is executed on push to main
  .github/workflows/sonarcloud.yml
Labels: chore

#995 Add technical replicate column to measurement grid
  user-interface/src/main/bundles/dev.bundle
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/measurements/MeasurementDetailsComponent.java
Labels: feature

#993 Close upload dialog on navigation change
  user-interface/src/main/java/life/qbic/datamanager/views/general/QbicDialog.java
  user-interface/src/main/java/life/qbic/datamanager/views/general/dialog/AppDialog.java
  user-interface/src/main/java/life/qbic/datamanager/views/notifications/NotificationDialog.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/measurements/MeasurementMain.java
Labels: feature

#877 Add support for confounding variables
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/batch/BatchJpaRepository.java
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/confounding/ConfoundingVariableJpaRepository.java
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/confounding/ConfoundingVariableLevelJpaRepository.java
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/confounding/ConfoundingVariableLevelRepositoryImpl.java
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/confounding/ConfoundingVariableRepositoryImpl.java
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/sample/SampleDataRepository.java
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/sample/SampleJpaRepository.java
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/sample/SampleRepositoryImpl.java
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/sample/openbis/OpenbisConnector.java
  project-management/src/main/java/life/qbic/projectmanagement/application/ProjectOverview.java
  project-management/src/main/java/life/qbic/projectmanagement/application/confounding/ConfoundingVariableService.java
  project-management/src/main/java/life/qbic/projectmanagement/application/confounding/ConfoundingVariableServiceImpl.java
  project-management/src/main/java/life/qbic/projectmanagement/application/sample/SampleInformationService.java
  project-management/src/main/java/life/qbic/projectmanagement/application/sample/SampleMetadata.java
  project-management/src/main/java/life/qbic/projectmanagement/application/sample/SampleRegistrationServiceV2.java
  project-management/src/main/java/life/qbic/projectmanagement/application/sample/SampleValidation.java
  project-management/src/main/java/life/qbic/projectmanagement/application/sample/SampleValidationService.java
  project-management/src/main/java/life/qbic/projectmanagement/diagrams/confounding-variables.md
  project-management/src/main/java/life/qbic/projectmanagement/domain/model/confounding/jpa/ConfoundingVariableData.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/model/confounding/jpa/ConfoundingVariableLevelData.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/model/sample/Sample.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/repository/ConfoundingVariableLevelRepository.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/repository/ConfoundingVariableRepository.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/repository/SampleRepository.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/service/SampleDomainService.java
  project-management/src/test/groovy/life/qbic/projectmanagement/domain/service/SampleDomainServiceSpec.groovy
  sql/complete-schema.sql
  sql/insert-default-values.sql
  sql/modify-ontology-table.sql
  sql/project_measurements_view.sql
  sql/setup-acl.sql
  sql/setup-views.sql
  user-interface/frontend/themes/datamanager/components/all.css
  user-interface/src/main/bundles/dev.bundle
  user-interface/src/main/java/life/qbic/datamanager/parser/MetadataConverter.java
  user-interface/src/main/java/life/qbic/datamanager/parser/ParsingResult.java
  user-interface/src/main/java/life/qbic/datamanager/parser/Sanitizer.java
  user-interface/src/main/java/life/qbic/datamanager/parser/sample/EditColumn.java
  user-interface/src/main/java/life/qbic/datamanager/parser/sample/RegisterColumn.java
  user-interface/src/main/java/life/qbic/datamanager/parser/sample/SampleInformationExtractor.java
  user-interface/src/main/java/life/qbic/datamanager/parser/xlsx/XLSXParser.java
  user-interface/src/main/java/life/qbic/datamanager/templates/TemplateService.java
  user-interface/src/main/java/life/qbic/datamanager/templates/sample/SampleBatchRegistrationTemplate.java
  user-interface/src/main/java/life/qbic/datamanager/templates/sample/SampleBatchUpdateTemplate.java
  user-interface/src/main/java/life/qbic/datamanager/views/StringBean.java
  user-interface/src/main/java/life/qbic/datamanager/views/demo/ComponentDemo.java
  user-interface/src/main/java/life/qbic/datamanager/views/general/HasBoundField.java
  user-interface/src/main/java/life/qbic/datamanager/views/general/confounding/ConfoundingVariable.java
  user-interface/src/main/java/life/qbic/datamanager/views/general/confounding/ConfoundingVariablesUserInput.java
  user-interface/src/main/java/life/qbic/datamanager/views/general/dialog/AppDialog.java
  user-interface/src/main/java/life/qbic/datamanager/views/general/dialog/stepper/StepperDialogFooter.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/overview/components/ProjectCollectionComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/experiments/experiment/ExperimentDetailsComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/info/ProjectSummaryComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/samples/SampleInformationMain.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/samples/registration/batch/EditSampleBatchDialog.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/samples/registration/batch/RegisterSampleBatchDialog.java
  user-interface/vite.config.ts
Labels: feature
