Repository qbicsoftware/data-manager-app, pull requests merged in 2025-04, with the labels that each got.

#1100 Implement template API
  application-commons/src/main/java/life/qbic/application/commons/FileNameFormatter.java
  project-management-infrastructure/pom.xml
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/template/provider/openxml/Column.java
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/template/provider/openxml/ExampleProvider.java
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/template/provider/openxml/TemplateProviderOpenXML.java
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/template/provider/openxml/WorkbookFactory.java
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/template/provider/openxml/column/ConfoundingVariableColumn.java
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/template/provider/openxml/column/EditColumn.java
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/template/provider/openxml/column/InformationColumn.java
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/template/provider/openxml/column/RegisterColumn.java
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/template/provider/openxml/factory/SampleInformationFactory.java
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/template/provider/openxml/factory/SampleRegisterFactory.java
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/template/provider/openxml/factory/SampleTemplateFactory.java
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/template/provider/openxml/factory/SampleUpdateFactory.java
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/template/provider/openxml/util/XLSXTemplateHelper.java
  project-management/src/main/java/life/qbic/projectmanagement/application/api/AsyncProjectService.java
  project-management/src/main/java/life/qbic/projectmanagement/application/api/AsyncProjectServiceImpl.java
  project-management/src/main/java/life/qbic/projectmanagement/application/api/template/TemplateProvider.java
  project-management/src/main/java/life/qbic/projectmanagement/application/api/template/TemplateService.java
  project-management/src/test/groovy/life/qbic/projectmanagement/application/api/AsyncProjectServiceImplTest.java
  user-interface/src/main/java/life/qbic/datamanager/files/export/sample/SampleWorkbooks.java
  user-interface/src/main/java/life/qbic/datamanager/files/export/sample/TemplateService.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/info/ProjectSummaryComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/measurements/MeasurementMain.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/measurements/MeasurementTemplateListComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/rawdata/RawDataMain.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/samples/SampleInformationMain.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/samples/registration/batch/EditSampleBatchDialog.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/samples/registration/batch/RegisterSampleBatchDialog.java
Labels: feature

#1114 Implement AppDialog for project summary
  project-management/src/main/java/life/qbic/projectmanagement/application/ProjectInformationService.java
  project-management/src/main/java/life/qbic/projectmanagement/application/api/AsyncProjectService.java
  project-management/src/main/java/life/qbic/projectmanagement/application/api/AsyncProjectServiceImpl.java
  user-interface/src/main/java/life/qbic/datamanager/RequestCache.java
  user-interface/src/main/java/life/qbic/datamanager/files/export/XLSXTemplateHelper.java
  user-interface/src/main/java/life/qbic/datamanager/views/events/ContactUpdateEvent.java
  user-interface/src/main/java/life/qbic/datamanager/views/general/funding/FundingInputForm.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/edit/EditContactsComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/edit/ProjectDesignForm.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/info/ProjectSummaryComponent.java
  user-interface/src/test/groovy/life/qbic/datamanager/views/identicon/XLSXTemplateHelperSpec.groovy
Labels: feature

#1121 Provide API for querying experiment information
  project-management/src/main/java/life/qbic/projectmanagement/application/api/AsyncProjectService.java
  project-management/src/main/java/life/qbic/projectmanagement/application/api/AsyncProjectServiceImpl.java
Labels: feature

#1124 Introduce ontology term concept for service API
  project-management/src/main/java/life/qbic/projectmanagement/application/api/AsyncProjectService.java
Labels: feature

#1123 Implement adding and deletion.of experimental variables
  project-management/src/main/java/life/qbic/projectmanagement/application/api/AsyncProjectService.java
  project-management/src/main/java/life/qbic/projectmanagement/application/api/AsyncProjectServiceImpl.java
  project-management/src/main/java/life/qbic/projectmanagement/application/authorization/ReactiveSecurityContextUtils.java
  project-management/src/main/java/life/qbic/projectmanagement/application/experiment/ExperimentInformationService.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/model/experiment/Experiment.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/model/experiment/ExperimentalDesign.java
  project-management/src/test/groovy/life/qbic/projectmanagement/application/api/AsyncProjectServiceImplTest.java
  project-management/src/test/groovy/life/qbic/projectmanagement/domain/model/experiment/ExperimentalDesignSpec.groovy
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/experiments/experiment/ExperimentDetailsComponent.java
Labels: feature

#1127 Introduces optimistic locking for project aggregate
  project-management/src/main/java/life/qbic/projectmanagement/domain/model/project/Project.java
Labels: fix

#1125 Implement experiment query API
  project-management/src/main/java/life/qbic/projectmanagement/application/api/AsyncProjectService.java
  project-management/src/main/java/life/qbic/projectmanagement/application/api/AsyncProjectServiceImpl.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/model/OntologyTerm.java
  project-management/src/test/groovy/life/qbic/projectmanagement/application/api/AsyncProjectServiceImplTest.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/info/ProjectSummaryComponent.java
Labels: feature

#1134 Add service api documentation
  service_api.md
Labels: chore
