Repository qbicsoftware/data-manager-app, pull requests merged in 2025-05, with the labels that each got.

#986 Integrate the public Orcid API to simplify person lookup for project-affiliated contacts
  README.md
  project-management-infrastructure/pom.xml
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/confounding/ConfoundingVariableLevelRepositoryImpl.java
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/confounding/ConfoundingVariableRepositoryImpl.java
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/contact/OrcidServiceIntegration.java
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/template/provider/openxml/ExampleProvider.java
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/template/provider/openxml/factory/SampleInformationFactory.java
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/template/provider/openxml/factory/SampleUpdateFactory.java
  project-management/src/main/java/life/qbic/projectmanagement/application/ProjectInformationService.java
  project-management/src/main/java/life/qbic/projectmanagement/application/api/AsyncProjectService.java
  project-management/src/main/java/life/qbic/projectmanagement/application/authorization/QbicOidcUser.java
  project-management/src/main/java/life/qbic/projectmanagement/application/authorization/QbicUserDetails.java
  project-management/src/main/java/life/qbic/projectmanagement/application/authorization/User.java
  project-management/src/main/java/life/qbic/projectmanagement/application/confounding/ConfoundingVariableService.java
  project-management/src/main/java/life/qbic/projectmanagement/application/contact/OrcidEntry.java
  project-management/src/main/java/life/qbic/projectmanagement/application/contact/PersonLookupService.java
  project-management/src/main/java/life/qbic/projectmanagement/application/contact/PersonSelect.java
  project-management/src/main/java/life/qbic/projectmanagement/application/measurement/NGSMeasurementMetadata.java
  project-management/src/main/java/life/qbic/projectmanagement/application/measurement/validation/MeasurementValidationService.java
  project-management/src/main/java/life/qbic/projectmanagement/application/sample/SampleRegistrationServiceV2.java
  project-management/src/main/java/life/qbic/projectmanagement/application/sample/SampleValidationService.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/model/project/Contact.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/model/project/Project.java
  project-management/src/test/groovy/life/qbic/projectmanagement/application/AddExperimentToProjectServiceSpec.groovy
  project-management/src/test/groovy/life/qbic/projectmanagement/application/ProjectCreationServiceSpec.groovy
  project-management/src/test/groovy/life/qbic/projectmanagement/application/ProjectInformationServiceSpec.groovy
  project-management/src/test/groovy/life/qbic/projectmanagement/domain/ProjectSpec.groovy
  sql/complete-schema.sql
  user-interface/frontend/themes/datamanager/components/all.css
  user-interface/src/main/java/life/qbic/datamanager/files/parsing/MeasurementMetadataConverter.java
  user-interface/src/main/java/life/qbic/datamanager/files/parsing/SampleInformationExtractor.java
  user-interface/src/main/java/life/qbic/datamanager/security/UserDetailsServiceImpl.java
  user-interface/src/main/java/life/qbic/datamanager/views/demo/ComponentDemo.java
  user-interface/src/main/java/life/qbic/datamanager/views/events/ContactUpdateEvent.java
  user-interface/src/main/java/life/qbic/datamanager/views/general/contact/AutocompleteContactField.java
  user-interface/src/main/java/life/qbic/datamanager/views/general/contact/BoundContactField.java
  user-interface/src/main/java/life/qbic/datamanager/views/general/contact/Contact.java
  user-interface/src/main/java/life/qbic/datamanager/views/general/contact/ContactField.java
  user-interface/src/main/java/life/qbic/datamanager/views/general/dialog/ButtonFactory.java
  user-interface/src/main/java/life/qbic/datamanager/views/general/funding/FundingInputForm.java
  user-interface/src/main/java/life/qbic/datamanager/views/general/oidc/OidcType.java
  user-interface/src/main/java/life/qbic/datamanager/views/general/utils/Utility.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/ProjectInformation.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/create/AddProjectDialog.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/create/CollaboratorsLayout.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/edit/EditContactsComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/edit/EditFundingInformationDialog.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/edit/EditProjectDesignDialog.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/overview/ProjectOverviewMain.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/experiments/experiment/ExperimentDetailsComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/info/ProjectSummaryComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/measurements/MeasurementMain.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/samples/SampleInformationMain.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/samples/registration/batch/EditSampleBatchDialog.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/samples/registration/batch/RegisterSampleBatchDialog.java
  user-interface/src/main/resources/META-INF/additional-spring-configuration-metadata.json
  user-interface/src/main/resources/application.properties
Labels: feature

#1135 Add API for experimental group management
  project-management/src/main/java/life/qbic/projectmanagement/application/api/AsyncProjectService.java
  project-management/src/main/java/life/qbic/projectmanagement/application/api/AsyncProjectServiceImpl.java
Labels: feature

#1136 Add null checks
  project-management/src/main/java/life/qbic/projectmanagement/application/api/AsyncProjectService.java
  project-management/src/test/groovy/life/qbic/projectmanagement/application/api/AsyncProjectServiceImplTest.java
Labels: chore

#1141 Finalise service API
  project-management/src/main/java/life/qbic/projectmanagement/application/api/AsyncProjectService.java
  project-management/src/main/java/life/qbic/projectmanagement/application/api/AsyncProjectServiceImpl.java
  project-management/src/main/java/life/qbic/projectmanagement/application/experiment/ExperimentInformationService.java
  project-management/src/main/java/life/qbic/projectmanagement/domain/model/experiment/ExperimentalDesign.java
  project-management/src/test/groovy/life/qbic/projectmanagement/application/api/AsyncProjectServiceImplTest.java
  user-interface/src/main/bundles/dev.bundle
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/experiments/experiment/ExperimentDetailsComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/info/ProjectSummaryComponent.java
Labels: chore

#1143 Introduce announcement banner for maintenance notification
  sql/complete-schema.sql
  user-interface/frontend/themes/datamanager/components/all.css
  user-interface/frontend/themes/datamanager/components/main.css
  user-interface/src/main/bundles/dev.bundle
  user-interface/src/main/java/life/qbic/datamanager/AppConfig.java
  user-interface/src/main/java/life/qbic/datamanager/announcements/AnnouncementComponent.java
  user-interface/src/main/java/life/qbic/datamanager/announcements/AnnouncementRepository.java
  user-interface/src/main/java/life/qbic/datamanager/announcements/AnnouncementService.java
  user-interface/src/main/java/life/qbic/datamanager/announcements/AnnouncementServiceImpl.java
  user-interface/src/main/java/life/qbic/datamanager/configuration/DataManagementDatasourceConfig.java
  user-interface/src/main/java/life/qbic/datamanager/views/DataManagerLayout.java
  user-interface/src/main/java/life/qbic/datamanager/views/UserMainLayout.java
  user-interface/src/main/java/life/qbic/datamanager/views/landing/LandingPageHandler.java
  user-interface/src/main/java/life/qbic/datamanager/views/landing/LandingPageLayout.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/ProjectMainLayout.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/experiments/ExperimentMainLayout.java
Labels: feature

#1158 Fix Link within documentation for data download
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/rawdata/RawDataDownloadInformationComponent.java
Labels: fix

#1157 Increase number of default generated rows within measurement excel sheets
  user-interface/src/main/java/life/qbic/datamanager/files/export/measurement/NgsEditFactory.java
  user-interface/src/main/java/life/qbic/datamanager/files/export/measurement/NgsRegisterFactory.java
  user-interface/src/main/java/life/qbic/datamanager/files/export/measurement/ProteomicsEditFactory.java
  user-interface/src/main/java/life/qbic/datamanager/files/export/measurement/ProteomicsRegisterFactory.java
Labels: fix

#1159 Enable optimistic locking for experiments
  project-management/src/main/java/life/qbic/projectmanagement/domain/model/experiment/Experiment.java
Labels: feature

#1160 Prevent flickering of announcements
  user-interface/src/main/java/life/qbic/datamanager/announcements/AnnouncementComponent.java
Labels: fix
