Repository qbicsoftware/data-manager-app, pull requests merged in 2025-03, with the labels that each got.

#1050 Provide ontology term in memory cache
  project-management-infrastructure/src/main/java/life/qbic/projectmanagement/infrastructure/ontology/TIBTerminologyServiceIntegration.java
Labels: feature

#1057 Remove slashes from filenames to avoid download breaking
  user-interface/src/main/java/life/qbic/datamanager/files/export/FileNameFormatter.java
Labels: fix

#1056 Provide async service API for sample management
  project-management/src/main/java/life/qbic/projectmanagement/application/api/AsyncProjectService.java
  project-management/src/main/java/life/qbic/projectmanagement/application/api/AsyncProjectServiceImpl.java
Labels: feature

#1061 Provide exception API documentation
  project-management/src/main/java/life/qbic/projectmanagement/application/api/AsyncProjectService.java
Labels: chore

#1063 Implement API for sample management
  project-management/src/main/java/life/qbic/projectmanagement/application/api/AsyncProjectService.java
  project-management/src/main/java/life/qbic/projectmanagement/application/api/AsyncProjectServiceImpl.java
  project-management/src/main/java/life/qbic/projectmanagement/application/authorization/ReactiveSecurityContextUtils.java
  project-management/src/main/java/life/qbic/projectmanagement/application/sample/SampleInformationService.java
  project-management/src/test/groovy/life/qbic/projectmanagement/application/api/AsyncProjectServiceImplTest.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/measurements/MeasurementDetailsComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/samples/SampleDetailsComponent.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/samples/SampleInformationMain.java
  user-interface/src/main/resources/application.properties
  user-interface/src/main/resources/messages/toast-notifications.properties
Labels: feature

#1081 Provide metadata validation API
  project-management/src/main/java/life/qbic/projectmanagement/application/api/AsyncProjectService.java
  project-management/src/main/java/life/qbic/projectmanagement/application/api/AsyncProjectServiceImpl.java
  project-management/src/main/java/life/qbic/projectmanagement/application/api/NGSMeasurementMetadata.java
  project-management/src/main/java/life/qbic/projectmanagement/application/api/ProteomicsMeasurementMetadata.java
  project-management/src/main/java/life/qbic/projectmanagement/application/api/SampleMetadata.java
  project-management/src/main/java/life/qbic/projectmanagement/application/measurement/MeasurementService.java
  project-management/src/main/java/life/qbic/projectmanagement/application/measurement/validation/MeasurementNGSValidator.java
  project-management/src/main/java/life/qbic/projectmanagement/application/measurement/validation/MeasurementProteomicsValidator.java
  project-management/src/main/java/life/qbic/projectmanagement/application/measurement/validation/MeasurementValidationService.java
  project-management/src/main/java/life/qbic/projectmanagement/application/sample/SampleRegistrationServiceV2.java
  project-management/src/main/java/life/qbic/projectmanagement/application/sample/SampleValidation.java
  project-management/src/main/java/life/qbic/projectmanagement/application/sample/SampleValidationService.java
  project-management/src/test/groovy/life/qbic/projectmanagement/application/measurement/validation/MeasurementNGSValidatorSpec.groovy
  project-management/src/test/groovy/life/qbic/projectmanagement/application/measurement/validation/MeasurementProteomicsValidatorSpec.groovy
  user-interface/src/main/java/life/qbic/datamanager/files/parsing/MeasurementMetadataConverter.java
  user-interface/src/main/java/life/qbic/datamanager/files/parsing/MetadataConverter.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/measurements/MeasurementMetadataUploadDialog.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/measurements/MeasurementNGSValidationExecutor.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/measurements/MeasurementProteomicsValidationExecutor.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/samples/registration/batch/EditSampleBatchDialog.java
  user-interface/src/main/java/life/qbic/datamanager/views/projects/project/samples/registration/batch/RegisterSampleBatchDialog.java
Labels: feature

#1082 API for requesting templates for sample registration and update
  project-management/src/main/java/life/qbic/projectmanagement/application/api/AsyncProjectService.java
  project-management/src/main/java/life/qbic/projectmanagement/application/api/AsyncProjectServiceImpl.java
Labels: core
